<script>
import { date } from 'quasar'
import { nfeCommon } from '../../mixins/nfe-common'
export default {
  name: 'ccDialogSearchNfe',
  mixins: [nfeCommon],
  props: {
    searchNfeDialog: {
      type: Boolean,
      default: false
    },
    toSearch: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    cli: { label: '', value: '' },
    dtEmiss: '',
    dtEmissView: '',
    filter: { client: { label: '', value: '' }, dtEmiss: '', status: [] },
    tab: 'status'
  }),
  methods: {
    setDateView (value) {
      this.$refs.qDateProxy.hide()
      this.dtEmissView = date.formatDate(value, 'DD/MM/YYYY')
    },
    clearSearchNFSe () {
      this.filter = { client: { label: '', value: '' }, dtEmiss: '', status: [] }
      this.dtEmissView = ''
      this.$emit('closeDialog')
    },
    searchNFSe () {
      const { client, dtEmiss, status } = this.filter
      const valuesToSearch = { client, dtEmiss, status }
      this.$emit('search', valuesToSearch)
    }
  }
}
</script>

<template lang="html">
  <q-dialog position="top" :value="searchNfeDialog" @input="$emit('closeDialog')">
    <q-card flat class="q-dialog-plugin q-pa-sm">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="status" label="Status" />
        <q-tab name="emiss" label="Emissão" />
        <q-tab name="client" label="Cliente" />
      </q-tabs>

      <q-separator inset />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="status">
          <q-card-section class="text-caption my-font-pop text-grey-9">
            <div class="column">
              <q-checkbox v-model="filter.status" :val="0" label="Aguardando Emissão" color="primary" />
              <q-checkbox v-model="filter.status" :val="1" label="Emitida" color="primary" />
              <q-checkbox v-model="filter.status" :val="2" label="Emissão em Andamento" color="primary" />
              <q-checkbox v-model="filter.status" :val="3" label="Cancelada" color="primary" />
            </div>
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="emiss">
          <q-card-section>
            <q-input readonly ref="dtEmiss" hint="Selecione uma data." color="primary" v-model="dtEmissView" mask="##/##/####">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" default transition-show="scale" transition-hide="scale">
                    <q-date v-model="filter.dtEmiss" @input="setDateView" mask="YYYY-MM-DD HH:mm" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="client">
          <q-select
            stack-label
            :behavior="$q.platform.is.ios === true ? 'dialog' : 'menu'"
            v-model="filter.client"
            bottom-slots
            :options="clientOptions"
            @filter="filterFnUserClients">
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">
                  Nenhuma empresa encontrada
                </q-item-section>
              </q-item>
            </template>
            <template v-if="filter.client.label" v-slot:append>
              <q-icon size="xs" name="cancel" @click.stop="filter.client = { label: '', value: '' }" class="cursor-pointer" />
            </template>
            <template v-slot:label>
              <div class="text-weight-bolder text-subtitle2 q-mb-md">Selecione o cliente</div>
            </template>
            <template v-slot:selected>
              <div v-if="filter.client && filter.client.label" class="text-weight-medium text-subtitle2 q-mt-sm">{{filter.client.label}}</div>
              <div v-else class="text-weight-bolder text-subtitle2 q-mb-md"></div>
            </template>
            <template v-slot:hint>
              <div style="font-size:0.8em" class="text-weight-bolder"><span v-if="filter.client.CNPJ">CNPJ</span> {{filter.client.CNPJ}}</div>
            </template>
          </q-select>
        </q-tab-panel>
      </q-tab-panels>
      <q-card-actions align="right">
        <q-btn :ripple="false" class="text-caption" @click="clearSearchNFSe" icon="fas fa-times-circle" label="limpar" flat size="0.6em" color="primary" />
        <q-btn :ripple="false" class="text-caption" @click="searchNFSe" icon="fas fa-filter" label="filtrar" flat size="0.6em" color="primary" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="css" scoped>
</style>
