<script>
import rules from '@mixins/validations'
import filters from '@mixins/filters'
import { nfeCommon } from '../../mixins/nfe-common'
import { mapActions } from 'vuex'

export default {
  name: 'ccDialogDetailNfe',
  mixins: [rules.rules, nfeCommon, filters.filters],
  data: () => ({
    openDialog: true,
    nfe: {
      dtEmiss: '',
      location: '',
      fantasyName: '',
      uf: '',
      clientCnpj: '',
      clientName: '',
      clientId: '',
      descPrest: '',
      descObs: '',
      price: 0,
      status: 0,
      emailTomador: ''
    }
  }),
  mounted () {
    this.fetchById()
  },
  methods: {
    ...mapActions(['setMessage', 'setFetching', 'updateSubCollection1', 'getCollectionByPath']),
    fetchById () {
      const userId = this.currentUser().userId
      const clientId = this.$route.params.client
      const nfeId = this.$route.params.nfe
      if (!clientId || !nfeId) return
      this.setFetching({ fetching: true })
      this.getCollectionByPath({
        collectionPath: `users/${userId}/clients/${clientId}/nfes/${nfeId}`
      }).then(data => {
        const { _id, dtEmiss, location, fantasyName, uf, clientCnpj, clientName, clientId, descPrest, descObs, price, emailTomador, status, userId } = data
        this.nfe._id = _id
        this.nfe.dtEmiss = dtEmiss
        this.nfe.location = location
        this.nfe.fantasyName = fantasyName
        this.nfe.uf = uf
        this.nfe.clientCnpj = clientCnpj
        this.nfe.clientName = clientName
        this.nfe.clientId = clientId
        this.nfe.descPrest = descPrest
        this.nfe.descObs = descObs
        this.nfe.price = price
        this.nfe.emailTomador = emailTomador
        this.nfe.status = status
        this.nfe.userId = userId
        this.setFetching({ fetching: false })
      }).catch(er => {
        this.setFetching({ fetching: false })
      }).finally(() => {
      })
    },
    locationDesc (nfe) {
      try {
        return `${nfe.location}-${nfe.uf}`
      } catch {
        return '-'
      }
    },
    closeDialog () {
      this.$router.go(-1)
    },
    async cancelNFE (status) {
      this.$q.dialog({
        title: '<span class="text-h6 text-weight-bold">Confirmação de Cancelamento</span>',
        message: '<span class="text-subtitle2 my-font-pop">Deseja realmente cancelar a emissão dessa NFSe?</span>',
        class: 'text-caption text-grey-9',
        html: true,
        ok: {
          color: 'primary',
          label: 'SIM',
          size: '0.8em'
        },
        cancel: {
          color: 'red-8',
          label: 'NÃO',
          size: '0.8em'
        }
      }).onOk(async () => {
        await this.submit(status)
        this.closeDialog()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    async submit (status) {
      const nfe = this.nfe
      try {
        this.setFetching({ fetching: true })
        await this.updateSubCollection1({
          collection: 'users',
          collectionId: nfe.userId,
          subCollection: 'clients',
          subCollectionId: nfe.clientId,
          subCollection1: 'nfes',
          subCollection1Id: nfe._id,
          fields: { status }
        })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    sendAgain (nfe) {
      const nfeId = nfe._id
      const clientId = nfe.clientId
      this.$router.push({ name: 'new.copy', params: { client: clientId, nfe: nfeId } })
    }
  }
}
</script>
<template>
  <q-dialog class="" :maximized="$q.screen.lt.sm" no-esc-dismiss no-backdrop-dismiss v-model="openDialog">
    <q-card flat style="width: 100vw; height: 100vh" class="">
      <div style="font-size: 1.0em;" class="my-font-pop q-mx-md text-grey-9">
        <q-list v-show="nfe._id" class="q-mt-sm q-mr-sm bg-white col-md-6 col-sm-12 col-xs-12">
          <div class="flex flex-center row q-pa-sm">
            <div class="col-md-10 col-xs-6 text-h6">
              <span class="text-primary my-font-pop text-subtitle1 text-grey-5"> Detalhes da NFSe</span>
            </div>
            <div class="col-md-1 col-xs-6 text-right ">
              <q-btn @click="closeDialog" size="sm" color="negative" flat round dense icon="close" v-close-popup />
            </div>
          </div>
          <q-separator/>
          <q-item class="q-my-sm">
            <q-item-label class="col-auto">
              <q-btn size="xs" class="q-mt-xs" round :color="convertColor(nfe.status)" :icon="convertIcon(nfe.status)"></q-btn>
            </q-item-label>
            <q-item-section class="q-ml-md text-right col-xs-auto">
              <q-item-label class="text-grey-5 text-weight-bold">{{convertStatus(nfe.status)}} <span class="text-weight-bolder">{{nfe.status === 1 ? `- N° ${nfe.number}` : ''}}</span></q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="">
            <q-item-section class="">
              <q-item-label class="text-bold text-grey-9 text-subtitle1 my-font-pop " lines="3">{{nfe.clientName}}</q-item-label>
              <q-item-label class="text-caption" lines="1">{{ nfe.clientCnpj }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="">
            <q-item-section class="text-left text-caption">
              <q-item-label lines="1">Serviço Prestado</q-item-label>
              <q-item-label lines="5" class="text-bold">{{nfe.descPrest}}</q-item-label>
            </q-item-section>
            <q-item-section class="text-caption text-right">
              <q-item-label lines="2" v-if="(nfe.emailTomador || '').length">E-mail tomador</q-item-label>
              <q-item-label class="text-bold" lines="2">{{nfe.emailTomador}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="">
            <q-item-section class="text-caption">
              <q-item-label lines="1">Local de Prestação</q-item-label>
              <q-item-label class="text-bold" lines="1">{{ locationDesc(nfe) }}</q-item-label>
            </q-item-section>
            <q-item-section class="text-right text-caption col-xs">
              <q-item-label lines="1">Data Emissão</q-item-label>
              <q-item-label class="text-bold" >{{ nfe.dtEmiss | formatDate }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="">
            <q-item-section class="text-caption">
              <q-item-label lines="3" v-if="(nfe.descObs || '').length">Observação</q-item-label>
              <q-item-label lines="3"  class="text-bold" v-if="(nfe.descObs || '').length">{{ nfe.descObs }}</q-item-label>
            </q-item-section>
            <q-item-section class="text-right">
              <q-item-label caption lines="1">Valor (R$)</q-item-label>
              <q-item-label class="text-subtitle1 text-bold">{{ formatPrice(nfe.price) }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator class="q-mt-sm"></q-separator>
          <div class="q-mt-md justify-center items-center">
            <div class="column q-gutter-md">
              <q-btn @click="sendAgain(nfe)" rounded color="primary" label="Repetir NFSe" padding="10px"
                class="text-weight-bolder text-caption" style="border-radius:10px">
              </q-btn>
              <q-btn v-if="nfe.status === 0" padding="10px" @click="cancelNFE(3)" rounded color="red-8"
                class="text-weight-bolder text-caption" icon="fas fa-times-circle" flat label="Cancelar emissão" style="border-radius:10px">
              </q-btn>
            </div>
          </div>
        </q-list>
      </div>
    </q-card>
  </q-dialog>
</template>
