<script>
import { columns, visibleColumns } from '../table'
import ccTableMain from '@components/table-main'
import router from '@mixins/router'
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  name: 'CcCallMain',
  mixins: [router.navigation],
  components: {
    ccTableMain
  },
  data: () => ({
    columns,
    visibleColumns,
    serverPagination: {
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 0
    },
    filter: '',
    calls: [],
    loading: false
  }),
  mounted () {
    this.fetch()
  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['getCollectionGroup', 'setMessage', 'setFetching', 'updateSubCollection', 'sendUserNotification']),
    async fetch () {
      try {
        this.loading = true
        this.calls = await this.getCollectionGroup({ collectionGroup: 'calls' })
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    updateField (field, call) {
      this.dialogNfe = false
      if (isEmpty(call) || isEmpty(field)) return
      this.setFetching({ fetching: true })
      this.updateSubCollection({
        collection: 'users',
        collectionId: call.userId,
        subCollection: 'calls',
        subCollectionId: call._id,
        fields: { ...field, responsibleUserId: this.currentUser().userId, responsibleUserEmail: this.currentUser().email }
      }).then(async () => {
        this.setMessage({ type: 'success', message: 'Alterado com sucesso' })
        await this.fetch()
      }).catch(e => console.log(e))
        .finally(() => this.setFetching({ fetching: false }))
    },
    goTo (payload) {
      const call = payload
      this.$router.push({ name: 'call-admin.edit', params: { id: call._id }, query: { userId: call.userId } })
    }
  }
}
</script>

<template>
  <div>
    <cc-table-main
    :data="calls"
    :columns="columns"
    :visibleColumns="visibleColumns"
    :allowBlock="true"
    :allowRemove="false"
    :allowAdd="false"
    :allowEdit="true"
    :serverPagination="serverPagination"
    :loading="loading"
    model="call"
    @goTo="goTo"
    @sync="fetch"
    @updateRow="updatedData => data = updatedData"
    @updateField="updateField">
    </cc-table-main>
  </div>
</template>
<style scoped>
</style>
