<script>
import { mapActions } from 'vuex'
export default {
  name: 'ccCallForm',
  data: () => ({
    step: 1,
    submitLoading: false,
    call: {
      _id: '',
      userEmail: '',
      userId: '',
      responsibleUserEmail: '',
      responsibleUserId: '',
      type: '',
      dateTime: '',
      status: '',
      messages: ''
    }
  }),
  mounted () {
    this.fetchCallById()
  },
  methods: {
    ...mapActions(['getCollectionGroup', 'setFetching', 'updateCollectionGroupById']),
    async fetchCallById () {
      const id = this.$route.params.id
      if (!id) return
      this.setFetching({ fetching: true })
      this.getCollectionGroup({
        collectionGroup: 'calls',
        filter: {
          field: '_id',
          value: id
        }
      }).then(call => {
        console.log(call)
        const {
          _id, userEmail, userId, responsibleUserEmail, responsibleUserId,
          dateTime, type, status, messages
        } = call
        this.call._id = _id
        this.call.userEmail = userEmail
        this.call.userId = userId
        this.call.responsibleUserEmail = responsibleUserEmail
        this.call.responsibleUserId = responsibleUserId
        this.call.type = type
        this.call.dateTime = dateTime
        this.call.status = status
        this.call.messages = messages
      }).catch(e => console.log(e))
        .finally(() => this.setFetching({ fetching: false }))
    },
    async submit () {
      this.submitLoading = true
      setTimeout(async () => {
        try {
          this.submitLoading = false
          const fields = this.call
          await this.updateCollectionGroupById({
            collectionGroup: 'calls',
            collectionGroupId: this.call._id,
            fields
          })
          this.setMessage({ type: 'success', message: 'Alterado com sucesso' })
          this.goToBack()
        } catch (e) {
          console.log(e)
          this.setMessage({ type: 'warning', message: 'Não foi possível salvar o usuário' })
        } finally {
        }
      }, 800)
    },
    goToBack () {
      this.$router.go(-1)
    }
  }
}
</script>

<template lang="html">
  <div class="row justify-center">
    <div class="q-ma-md col-md-8">
      <q-stepper
        v-model="step"
        ref="stepper"
        class="shadow-2"
        color="secondary"
        header-nav
        animated>
        <q-step
          :name="1"
          title="Perfil do Usuário"
          icon="fas fa-user"
          :done="step > 1"
          style="min-height: 200px;">
          <div class="q-gutter-md">
            <div class="row q-gutter-x-md">
              {{call}}
            </div>
          </div>
        </q-step>

        <template v-slot:navigation>
          <q-stepper-navigation class="text-right">
            <q-btn label="cancelar" size="0.8em" flat color="red-4" icon="fas fa-times" class="q-mr-sm" @click="goToBack"/>
            <q-btn @click="submit" size="0.8em" :loading="submitLoading" icon="check" color="primary" class="q-mr-sm" label="Salvar" />
          </q-stepper-navigation>
        </template>

        <template v-slot:message>
          <q-banner v-if="step === 1" class="bg-primary text-white q-px-lg">
            Dados do perfil do usuário
          </q-banner>
          <q-banner v-else-if="step === 2" class="bg-primary text-white q-px-lg">
            Dados do Endereço do usuário
          </q-banner>
        </template>
      </q-stepper>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
