<script>
import { mapActions, mapGetters } from 'vuex'
import storage from '@in-house-functions/localforage'

export default {
  name: 'ccClientItem',
  props: {
    client: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
  }),
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['setMessage', 'setFetching', 'getById']),
    notifyCompleteRegister (usr) {
      if ((!(usr.loginPref || '').length ||
        !(usr.passPref || '').length ||
        !(usr.address.street || '').length ||
        !(usr.address.neighborhood || '').length ||
        !(usr.address.city || '').length ||
        !(usr.address.state || '').length ||
        !(usr.address.zipCode || '').length ||
        !(usr.address.number || '').length ||
        !(usr.phoneNumber1 || '').length)) {
        this.setMessage({
          type: 'warning',
          message: 'Conclua o seu cadastro antes de continuar'
        })
        return false
      }
      return true
    },
    openNfe (client) {
      this.setFetching({ fetching: true })
      const currentUser = this.currentUser()
      const id = client._id
      this.getById({ collection: 'users', id: currentUser.userId }).then(user => {
        if (this.notifyCompleteRegister(user)) {
          storage.addItemLocalForage('APP_CLIENT_NFSE', { emailTomador: client.emailTomador, cnpj: client.CNPJ, name: client.name })
          this.$router.push({ name: 'clients.nova', params: { id } })
        }
      }).catch(e => console.log(e))
        .finally(() => this.setFetching({ fetching: false }))
    }
  }
}
</script>

<template>
  <div>
    <q-separator spaced inset />
    <q-list style="border-radius: 15px;" class="">
      <q-item class="q-my-sm">
        <q-item-section class="col">
          <q-item-label lines="4" class="text-bold text-primary" >{{client.name}}</q-item-label>
          <q-item-label lines="4" caption class="text-primary" >{{client.CNPJ}}</q-item-label>
        </q-item-section>
        <q-item-section avatar top class="text-right col-auto">
          <q-btn @click="openNfe(client)" flat round size="md" icon="add" color="secondary"/>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<style scoped>

</style>
