<script>
import ccMyClients from './my-clients'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'ccClients',
  components: {
    ccMyClients
  },
  data () {
    return {
      toSearch: '',
      items: []
    }
  },
  mounted () {
    this.fetchAllByUserId()
  },
  computed: {
    search () {
      if (!this.toSearch) return this.items
      return this.items.filter(cur => {
        return cur.name.indexOf(this.toSearch.toString().toUpperCase()) !== -1
      })
    }
  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['setMessage', 'setFetching', 'getSubCollection']),
    async fetchAllByUserId () {
      try {
        const id = this.currentUser().userId
        this.setFetching({ fetching: true })
        this.items = await this.getSubCollection({ collection: 'users', collectionId: id, subCollection: 'clients' })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    showFilterDialog (tab) {
      this.$q.dialog({
        title: '<span class="my-font-pop text-subtitle1 text-grey-5">Buscar Cliente</span>',
        position: 'top',
        class: 'q-pa-sm',
        html: true,
        ok: {
          icon: 'fas fa-filter',
          flat: true,
          size: '0.6em',
          label: 'filtrar',
          color: 'primary'
        },
        cancel: {
          icon: 'fas fa-times-circle',
          flat: true,
          size: '0.6em',
          label: 'limpar',
          color: 'primary'
        },
        prompt: {
          maxlength: 40,
          model: this.toSearch,
          type: 'text' // optional
        }
      }).onOk(data => {
        this.toSearch = data
      }).onCancel(data => {
        this.toSearch = ''
      })
    }
  }
}
</script>

<template>
  <div class="">
    <!--
    <q-header class="bg-white">
      <q-toolbar class="bg-white">
        <q-toolbar-title class="my-font-pop text-bold">
          <q-btn icon="fas fa-cog" flat class="text-primary" size="xs" @click="$router.push('/config')" >
             <q-badge v-if="!currentUser().loginPref || !currentUser().passPref" color="red-4" floating>!</q-badge>
          </q-btn>
        </q-toolbar-title>
        <q-btn flat round icon="fas fa-filter" size="xs" color="black" @click="showFilterDialog" />
      </q-toolbar>
    </q-header> -->
    <cc-my-clients :items="search"/>
  </div>
</template>
<style scoped>
</style>
