<script>
import ccClientItem from './client-item'
export default {
  name: 'ccMyClients',
  components: {
    ccClientItem
  },
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    client: { id: null, CNPJ: '', name: '' }
  }),
  methods: {
  }
}
</script>
<template>
  <q-page padding class="my-font-pop">
    <cc-client-item v-for="item in items" :key="item.id" :client="item"></cc-client-item>
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="primary" />
    </q-page-scroller>
  </q-page>
</template>
