// app global css in Stylus form
@import "auth"
@import "fontsnota"
@import "borders"
@import "backgrounds"

@font-face
  font-family 'Montserrat', sans-serif
  font-style normal
  font-weight 400
  src url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap')

@font-face
  font-family 'Poppins', sans-serif
  font-style normal
  font-weight 400
  src url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

.not-active
  pointer-events none
  cursor default

.active
  pointer-events true

.login-content
  display flex
  justify-content flex-start
  align-items center
  text-align center
  justify-content center

.over-top
  position relative
//filho***
.over-top-1
  z-index 1
