.auth-pad-register
  top 400px

.auth-pad-login
  top 260px

.auth-row
  flex-direction row

.auth-btn
  border-radius 4px
  width 280px

.auth-input-style
  width 280px

.auth-gradient
  color white
  background-image linear-gradient(to right, rgb(54,0,75,1) 20%, rgb(174,1,122,1) 80%)
  border-radius 30px
  text-align center
  width auto
  height auto

.auth-logotipo
  width auto
  height 150px
  margin auto
  padding-top 20px
  padding-bottom 25px

p
color rgba(54, 0, 74, 1)

p:hover
  color rgb(150, 150, 150)

.login-content
  display flex
  justify-content flex-start
  align-items center
  text-align center
  justify-content center
