.border-solid
  border 1px solid black

.border-top-color
  border-radius 10px 10px 0px 0px
  border-top 2px solid #3060AE
  border-left 2px solid #3060AE
  border-right 2px solid #3060AE

.border-top
  border-radius 9px 9px 0px 0px

.border-round
  border-radius 5px 5px 5px 5px

.border-solid-indigo
  border 1px solid #5A69BE

.border-solid-red
  border 1px solid #F45C53

.border-solid-yellow-bold
  border 3px solid #FFC907

.border-solid-green-bold
  border 3px solid #2edd45

.border-solid-red-bold
  border 3px solid #F45C53

.color-data-green
  color #2edd45

.color-data-yellow
  color #FFC907

.color-data-red
  color #F45C53

.border-solid-blue-bold
  border 2px solid #1976D2

.border-solid-blue
  border 1px solid #1976D2

.border-solid-red-bold
  border 3px solid #F45C53

.border-style
  border-radius 10px 0px 10px 0px

.border-img
  border-radius 3px 3px 3px 3px
