<script>
import validationsMixins from '@mixins/validations'
import crudMixins from '@mixins/crud'
import { mapActions, mapGetters } from 'vuex'
import services from '@in-house-functions/services'
export default {
  name: 'ccDialogNewCli',
  mixins: [
    validationsMixins.rules,
    crudMixins.postCreate
  ],
  data () {
    return {
      step: 1,
      services,
      cli_cnpj: '',
      cli_estadual: '',
      cli_municipal: '',
      cli_fantasia: ''
    }
  },
  props: {
    openDialogClient: {
      type: Boolean,
      default: () => false
    }
  },
  methods: {
    ...mapActions(['setMessage', 'setFetching', 'postCreateSubCollection']),
    ...mapGetters(['currentUser']),
    async submit () {
      const dataSave = {
        CNPJ: this.cli_cnpj,
        name: this.cli_fantasia,
        fantasyName: this.cli_fantasia,
        estadual: this.cli_estadual,
        municipal: this.cli_municipal
      }
      try {
        this.setFetching({ fetching: true })
        await this.postCreateSubCollection({
          collection: 'users',
          collectionId: this.currentUser().userId,
          subCollection: 'clients',
          fields: dataSave
        })
        this.setMessage({ type: 'success', message: 'Salvo com sucesso' })
        this.$emit('saveComplete', {})
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    next () {
      if (this.step === 1) {
        this.$refs.txtCNPJ.validate()
        if (this.$refs.txtCNPJ.hasError) return
      } else if (this.step === 2) {
        this.submit()
      }
      this.$refs.stepper.next()
    }
  },
  computed: {
    isValidStep () {
      if (this.step === 1) {
        if (this.cli_cnpj.length &&
            this.cli_fantasia.length &&
            this.cli_cnpj.length === 18) return false
      } else if (this.step === 2) {
        if (this.cli_estadual.length &&
            this.cli_municipal.length) return false
      }
      return true
    }
  }
}
</script>
<template>
  <q-dialog class="" :maximized="$q.screen.lt.sm" no-esc-dismiss no-backdrop-dismiss v-model="openDialogClient">
    <q-card style="width: 100vw; height: 100vh" class="">
      <div class="flex flex-center row q-pa-sm">
        <div class="col-md-10 col-xs-6 text-h6">
          <span class="text-primary my-font-pop text-subtitle1 text-grey-5"> Novo Cliente</span>
        </div>
        <div class="col-md-1 col-xs-6 text-right ">
          <q-btn @click="() => $emit('closeDialog')" color="negative" flat round dense icon="close" v-close-popup />
        </div>
      </div>
      <q-separator/>
      <div class="">
        <q-stepper
          flat
          v-model="step"
          ref="stepper"
          color=""
          contracted
          animated
          class="text-grey-9 my-font-pop"
          style=""
        >
          <q-step :name="1" title="Digite o CNPJ" icon="fas fa-id-card-alt" :done="step > 1" >
            <div class="q-py-sm text-h6">
              CNPJ
            </div>
            <q-input
              :rules="isCNPJ"
              class="text-h5"
              hint="Digite o CNPJ do Cliente."
              mask="##.###.###/####-##"
              color="primary"
              ref="txtCNPJ"
              v-model="cli_cnpj" >
              <template v-slot:prepend>
                <q-icon size="xs" color="secondary" name="fas fa-id-card-alt" />
              </template>
            </q-input>
            <div class="q-pt-md text-h6">
              Nome Fantasia
            </div>
            <q-input
              class="text-h5"
              hint="Digite o nome fantasia do Cliente."
              color="primary"
              v-model="cli_fantasia" >
              <template v-slot:prepend>
                <q-icon size="xs" color="secondary" name="fas fa-user-tag" />
              </template>
            </q-input>
          </q-step>
          <q-step :name="2" title="Digite o CNPJ" icon="fas fa-file-signature" :done="step > 2" >
            <div class="q-py-sm text-h6">
              Digite a IE e IM
            </div>
            <q-input
              hint="Digite a inscrição estadual."
              color="primary"
              v-model="cli_estadual" >
              <template v-slot:prepend>
                <q-icon size="xs" color="secondary" name="fas fa-file-signature" />
              </template>
            </q-input>
            <q-input
              hint="Digite a inscrição municipal."
              color="primary"
              v-model="cli_municipal" >
              <template v-slot:prepend>
                <q-icon size="xs" color="secondary" name="fas fa-file-signature" />
              </template>
            </q-input>
          </q-step>

          <template v-slot:navigation>
            <q-stepper-navigation class="q-gutter-md text-center">
              <q-btn icon="arrow_back" class="text-blue" v-if="step > 1" color="white" @click="$refs.stepper.previous()" label="Voltar" />
              <q-btn :disable="isValidStep" :icon-right="step === 2 ? 'fas fa-cloud-upload-alt' : 'arrow_forward'" @click="next()" color="primary" :label="step === 2 ? 'SALVAR' : 'CONTINUAR'" />
            </q-stepper-navigation>
          </template>
        </q-stepper>
      </div>
    </q-card>
  </q-dialog>
</template>
