<script>
import validationsMixins from '@mixins/validations'
import ccDialogNewClient from './dialog-new-client'
import { mapActions, mapGetters } from 'vuex'
import services from '@in-house-functions/services'
export default {
  name: 'ccDialogFindClient',
  components: {
    ccDialogNewClient
  },
  mixins: [
    validationsMixins.rules
  ],
  data () {
    return {
      openDialogClient: true,
      step: 1,
      cli_cnpj: '',
      services,
      loadingSearch: false,
      newClientDialog: false,
      model: {
        main: 'clients',
        route: 'client'
      },
      result: {
        atividade_principal: [],
        atividades_secundarias: [],
        qsa: [],
        nome: '',
        fantasia: '',
        cnpj: '',
        email: '',
        telefone: '',
        uf: '',
        situacao: '',
        bairro: '',
        logradouro: '',
        numero: '',
        cep: '',
        municipio: '',
        complemento: '',
        porte: '',
        abertura: '',
        natureza_juridica: '',
        status: '',
        tipo: '',
        capital_social: ''
      }
    }
  },
  methods: {
    ...mapActions(['setMessage', 'setFetching', 'postCreateSubCollection', 'getSubCollectionWhere']),
    ...mapGetters(['currentUser']),
    async submit (data) {
      const clients = await this.getSubCollectionWhere({
        collection: 'users',
        collectionId: this.currentUser().userId,
        subCollection: 'clients',
        filter: {
          field: 'CNPJ',
          value: data.cnpj
        }
      })
      if (clients.length > 0) {
        this.step = 1
        this.closeDialog()
        return
      }
      const dataSave = {
        CNPJ: data.cnpj || '',
        city: data.municipio || '',
        complement: data.complemento || '',
        email: data.email || '',
        fantasyName: data.fantasia || '',
        foundationDate: data.abertura || '',
        legalNature: data.natureza_juridica || '',
        mainActivity: data.atividade_principal || '',
        name: data.nome || '',
        neighborhood: data.bairro || '',
        number: data.numero || '',
        phone: data.telefone || '',
        qsa: [],
        secondaryActivity: data.atividades_secundarias || '',
        shareCapital: data.capital_social || '',
        situation: data.situacao || '',
        street: data.logradouro || '',
        type: data.tipo || '',
        uf: data.uf || '',
        zipCode: data.cep || '',
        userId: this.currentUser().userId
      }

      data.qsa.map((r) => {
        dataSave.qsa.push({
          qual: r.qual,
          name: r.name
        })
      })
      try {
        this.setFetching({ fetching: true })
        await this.postCreateSubCollection({
          collection: 'users',
          collectionId: this.currentUser().userId,
          subCollection: 'clients',
          fields: dataSave
        })
        this.setMessage({ type: 'success', message: 'Salvo com sucesso' })
        this.step = 1
        this.closeDialog()
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    next () {
      if (this.step === 1) {
        this.result = {}
        this.$refs.txtCNPJ.validate()
        if (this.$refs.txtCNPJ.hasError) return
        this.loadingSearch = true
        services.getCompanyDataFromReceita(this.cli_cnpj.replace(/[^\d]+/g, ''))
          .then(company => {
            if (company.data && company.data.message === 'CNPJ rejeitado pela Receita Federal') {
              this.setMessage({ type: 'warning', message: 'CNPJ rejeitado pela Receita Federal' })
              this.loadingSearch = false
              return
            }
            this.result = company.data || ''
            this.loadingSearch = false
            this.$refs.panel.next()
          }).catch(() => {
            this.setMessage({ type: 'warning', message: 'Aguarde alguns instantes para buscar novamente' })
            this.loadingSearch = false
          })
      } else if (this.step === 2) {
        this.submit(this.result)
      }
    },
    closeDialog () {
      this.openDialogClient = false
      this.$router.go(-1)
    },
    closeNewClientDialog () {
      this.newClientDialog = false
      this.closeDialog()
    }
  },
  computed: {
    isValidStep () {
      if (this.step === 1) {
        if (this.cli_cnpj.length &&
          this.cli_cnpj.length === 18) return false
      } else if (this.step === 2) {
        if (this.result !== null &&
            this.result.nome !== '') return false
      }
      return true
    }
  }
}
</script>
<template>
  <q-dialog class="" :maximized="$q.screen.lt.sm" no-esc-dismiss no-backdrop-dismiss v-model="openDialogClient">
    <q-card flat style="width: 100vw; height: 100vh" class="">
      <div style="font-size: 1.0em;" class="my-font-pop q-mx-md text-grey-9">
        <q-list class="q-mt-sm q-mr-sm bg-white col-md-6 col-sm-12 col-xs-12">
          <div class="flex flex-center row q-pa-sm">
            <div class="col-md-10 col-xs-6 text-h6">
              <span class="text-primary my-font-pop text-subtitle1 text-grey-5"> Buscar Cliente</span>
            </div>
            <div class="col-md-1 col-xs-6 text-right ">
              <q-btn size="sm" @click="closeDialog" color="negative" flat round dense icon="close" v-close-popup />
            </div>
          </div>
          <q-separator/>
          <div class="">
            <q-tab-panels
              ref="panel"
              v-model="step"
              animated
              swipeable
              style="border-radius:20px"
            >
              <q-tab-panel :name="1" title="Digite o CNPJ" icon="fas fa-id-card-alt" :done="step > 1" >
                <div class="q-py-sm text-subtitle1">
                  CNPJ
                </div>
                <q-input
                  dense
                  :rules="isCNPJ"
                  hint="Digite o CNPJ do Cliente."
                  mask="##.###.###/####-##"
                  color="primary"
                  ref="txtCNPJ"
                  v-model="cli_cnpj" >
                  <template v-slot:prepend>
                    <q-icon size="0.6em" color="secondary" name="fas fa-id-card-alt" />
                  </template>
                </q-input>
              </q-tab-panel>
              <q-tab-panel :name="2" title="Digite o CNPJ" icon="fas fa-file-signature" :done="step > 2" >
                <div v-if="!result.nome" class="q-py-sm text-h6">
                  Não encontramos nenhuma empresa com esse CNPJ
                </div>
                <div v-else>
                  <div class="q-py-sm text-h6">
                    Dados da empresa
                  </div>
                  <q-input
                    dense
                    label="Razão Social"
                    readonly
                    color="primary"
                    v-model="result.nome" />
                  <q-input
                    dense
                    label="Nome fantasia"
                    readonly
                    color="primary"
                    v-model="result.fantasia" />
                  <q-input
                    dense
                    label="CNPJ"
                    readonly
                    color="primary"
                    v-model="result.cnpj" />
                  <q-input
                    dense
                    label="E-mail"
                    readonly
                    color="primary"
                    v-model="result.email" />
                  <q-input
                    dense
                    label="Telefone"
                    readonly
                    color="primary"
                    v-model="result.telefone" />
                  <q-input
                    dense
                    label="Rua"
                    readonly
                    color="primary"
                    v-model="result.logradouro" />
                  <q-input
                    dense
                    label="Bairro"
                    readonly
                    color="primary"
                    v-model="result.bairro" />
                  <q-input
                    dense
                    label="Número"
                    readonly
                    color="primary"
                    v-model="result.numero" />
                  <q-input
                    dense
                    label="UF"
                    readonly
                    color="primary"
                    v-model="result.uf" />
                  <q-input
                    dense
                    label="CEP"
                    readonly
                    color="primary"
                    v-model="result.cep" />
                  <q-input
                    dense
                    label="Complemento"
                    readonly
                    color="primary"
                    v-model="result.complemento" />
                </div>
              </q-tab-panel>
            </q-tab-panels>
            <div class="q-gutter-x-lg text-center justify-center q-mt-lg q-mb-md row">
              <q-btn v-if="step === 1" padding="13px" :disable="isValidStep" icon-right="arrow_forward"
                class="col-10 text-weight-bolder text-caption" :loading="loadingSearch" no-caps style="border-radius:10px" @click="next()" color="primary" label="BUSCAR" />
              <q-btn v-if="step === 2 && result.nome" padding="13px" :disable="isValidStep" icon-right="fas fa-cloud-upload-alt"
                class="col-10 text-weight-bolder text-caption" no-caps style="border-radius:10px" @click="next()" color="primary" label="SALVAR" />
              <q-btn v-if="step === 2 && !result.nome" padding="13px" icon-right="fas fa-plus"
                class="col-10 text-weight-bolder text-caption q-my-sm" no-caps style="border-radius:10px" @click="newClientDialog = true" color="primary" label="CADASTRAR" />
              <q-btn padding="13px" size="sm" icon="arrow_back" v-if="step > 1" class="q-mt-md col-10 text-weight-bolder text-caption"
                rounded style="border-radius:13px" flat color="primary" @click="$refs.panel.previous()" label="Voltar" />
            </div>
          </div>
        </q-list>
      </div>
    </q-card>
    <cc-dialog-new-client @saveComplete="closeNewClientDialog()" @closeDialog="closeNewClientDialog()" :openDialogClient="newClientDialog"/>
  </q-dialog>
</template>
