<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'ccEmailVerified',
  data: () => ({
    loading: false
  }),
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['sendEmailVerification', 'setMessage']),
    sendEmail () {
      this.loading = true
      this.sendEmailVerification().then(response => {
        this.loading = false
        this.setMessage({ type: 'warning', message: 'E-mail enviado com sucesso' })
        this.$router.replace({ name: 'auth.index' })
      }).catch(e => {
        this.setMessage({ type: 'warning', message: 'Aguarde alguns instantes antes de enviar o e-mail novamente' })
        this.loading = false
      })
    }
  }
}
</script>

<template >
  <q-page class="row justify-center items-center my-font-pop">
    <div :class="[$q.screen.gt.xs ? 'shadow-1' : '' ,'q-pa-md q-gutter-y-lg column col-md-4 col-sm-8 items-center']">
        <div class="">
          <img style="width: 20em" src="~/assets/auth/new_message.svg" class="" />
        </div>
        <div class="text-h6">
          Confirme seu cadastro!
        </div>
        <div class="text-primary text-caption text-center">
          Enviamos um E-mail para você, verifique a caixa de entrada e spam.<br>
          Caso não tenha recebido reenvie o E-mail.
        </div>
        <q-input readonly v-model="currentUser().email" type="email" style="width:24em" square dense outlined>
          <template v-slot:prepend>
            <q-avatar>
              <q-icon size="12px" color="primary" name="fas fa-envelope" />
            </q-avatar>
          </template>
        </q-input>
        <div class="q-gutter-x-md">
          <q-btn flat icon="arrow_back" color="primary" stretch @click="() => $router.push({ name: 'auth.index' })" />
          <q-btn :loading="loading" color="primary" class="" label="" @click="sendEmail">
            Reenviar verificação
            <q-icon class="q-ml-sm" size="xs" name="fab fa-telegram-plane" />
          </q-btn>
        </div>
    </div>
  </q-page>
</template>
