<script>
import { mapActions } from 'vuex'
import { isEmpty } from 'lodash'
import validationsMixins from '@mixins/validations'

export default {
  name: 'neoClicks',
  mixins: [validationsMixins.rules],
  data: () => ({
    user: {
      email: '',
      password: ''
    },
    loading: false,
    loadingRegister: false,
    loadingReset: false,
    loadingGoogle: false
  }),
  computed: {
    isValid () {
      return (isEmpty(this.user.email) || isEmpty(this.user.password))
    }
  },
  methods: {
    ...mapActions(['signIn', 'setMessage', 'setFetching', 'signInGoogle']),
    reset () {
      this.user.password = ''
    },
    resetPassword () {
      this.loadingReset = true
      setTimeout(() => {
        this.loadingReset = false
        this.$router.push({ name: 'reset-password.index' })
      }, 500)
    },
    goToRegister () {
      this.loadingRegister = true
      setTimeout(() => {
        this.loadingRegister = false
        this.$router.push({ name: 'register.index' })
      }, 500)
    },
    async doLogin () {
      const credentials = this.user
      try {
        await this.signIn({ ...credentials })
        this.loading = true
        setTimeout(() => {
          this.loading = false
          this.$router.push('/')
        }, 800)
      } catch (error) {
        this.reset()
        this.setMessage({ type: 'warning', message: 'Login inválido' })
        console.log(error.message)
      }
    },
    async doLoginGoogle () {
      try {
        this.loadingGoogle = true
        await this.signInGoogle()
        setTimeout(() => {
          this.loadingGoogle = false
          this.$router.push('/links')
        }, 800)
      } catch (error) {
        this.reset()
        this.setMessage({ type: 'warning', message: 'Login google inválido' })
        console.log(error.message)
      }
    }
  }
}
</script>

<template>
  <div class="">
    <q-page class="">
      <div class="my-font-pop text-center">
        <div class="row items-center">
          <div style="font-size:4vh; line-height:110%" class="q-pa-lg q-ma-md col-md-5 col-xs-12 text-h6 text-white text-left">
            <div class="font-raptor-big col-12 text-left text-weight-bolder text-h5 text-green" style="font-size:10vmin; line-height:100%">
              <span class="text-green glow-verde">NEO</span><span class="text-accent">CLICKS</span> 🚀
            </div>
            <div class="q-py-md text-weight-bolder" style="font-size:4vh;">
              Impulsione suas redes sociais, Instagram, Youtube, TikTok e outros.
            </div>
            <div class="col-md-12 col-xs-12 text-h7 text-white text-left" style="font-size:18px; line-height:120%">
              Olá, sejam bem-vindos! <br />
              A plataforma Neocyberpunkers tem como objetivo impulsionar o alcance e visualizações de seu conteúdo externo em outras plataformas digitais.
            </div>
            <div class="q-pt-xl col-md-12 col-xs-12 text-weight-bolder text-white text-center" style="font-size:4vmin; line-height:110%">
              Saiba como...
              <br />
              <q-icon style="font-size:6vh;" color="green" class="q-pt-lg glow-verde" name="fas fa-chevron-circle-down" />
            </div>
          </div>
          <div class="col-md col-xs-12 text-center">
            <img style="width: 40vh;" src="~/assets/neo-mockup.png">
          </div>
        </div>

        <br />
        <div class="row items-center q-pa-md">
          <div class="col-md-6 col-xs-12">
            <div class="col-12 q-px-lg text-weight-bolder text-white text-center" style="font-size:6vmin; line-height:110%; justify-content: center; display: flex; align-items: center;">
              <q-icon style="font-size:6vh;" color="green" class="q-pr-md glow-verde" name="fas fa-user-circle" />
              <span>Crie seu perfil.</span>
            </div>
            <div class="q-pt-md q-px-md q-mx-lg col-md-12 col-xs-12 text-h7 text-white text-left" style="font-size:18px; line-height:120%">
              A plataforma Neocyberpunkers tem como objetivo impulsionar o alcance e visualizações de seu conteúdo externo em plataformas digitais, seja ela Youtube, Instagram ou Facebook.
            </div>
            <div class="q-pa-md q-mx-lg col-md-12 col-xs-12 text-h7 text-white text-left" style="font-size:18px; line-height:120%">
              Compartilhe 3 links que deseja impulsionar, clique em links e seu link será clickado.
              <span class="text-green glow-verde">clicks</span>.
            </div>
          </div>
          <div class="col-md text-center">
            <img style="width: 80%;" src="~/assets/neo-perfil.svg">
          </div>
        </div>
        <div class="row q-pa-md">
          <div class="col-md-6 col-xs-12">
            <div class="col-12 q-px-lg text-weight-bolder text-white text-center" style="font-size:6vmin; line-height:110%; justify-content: center; display: flex; align-items: center;">
              <q-icon style="font-size:6vh;" color="green" class="q-pr-xs glow-verde" name="fas fa-hand-point-down" />
              <span>clickar = clicks</span>
              <q-icon style="font-size:6vh;" color="green" class="q-pr-xs glow-verde" name="fas fa-hand-point-up" />
            </div>
            <div class="q-pa-md q-mx-lg col-md-12 col-xs-12 text-h7 text-white text-left" style="font-size:18px; line-height:120%">
              Quanto mais links clickar mais seus links serão clickados.
            </div>
          </div>
          <div class="col-md text-center">
            <img style="width: 80%;" src="~/assets/neo-perfil.svg">
          </div>
        </div>
        <div class="row q-pa-md">
          <div class="col-md-6 col-xs-12">
            <div class="col-12 q-px-lg text-weight-bolder text-white text-center" style="font-size:6vmin; line-height:110%; justify-content: center; display: flex; align-items: center;">
              <q-icon style="font-size:6vh;" color="green" class="q-pr-md glow-verde" name="fas fa-random" />
              <span>Rankeamento Global.</span>
            </div>
            <div class="q-pt-md q-px-md q-mx-lg col-md-12 col-xs-12 text-h7 text-white text-left" style="font-size:18px; line-height:120%">
              Seus clicks influênciam sua posição no Ranking de <span class="text-green glow-verde">clicks</span> Global.
              Ao clickar você sobe no ranking, ao ser clickado você desce.
              Desenvolvemos um sistema balanceado (pega-pega) e imparcial de clicks, todo o desempenho gerado pelo usuário em seu perfil é revertido em alcance e visualizações contáveis de seu conteúdo externo (links).

            </div>
            <div class="q-pa-md q-mx-lg col-md-12 col-xs-12 text-h7 text-white text-left" style="font-size:18px; line-height:120%">
              Crie seu perfil gratuitamente, insira seus links para compartilhamento global, e deixe os <span class="text-green glow-verde">clicks</span> fazerem o resto por você.
            </div>
          </div>
          <div class="col-md text-center">
            <img style="width: 80%;" src="~/assets/neo-perfil.svg">
          </div>
        </div>
        <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
          <q-btn fab icon="keyboard_arrow_up" color="primary" />
        </q-page-scroller>
      </div>
    </q-page>
    <cc-dialog-search-nfe :searchNfeDialog="searchNfeDialog" :toSearch="toSearch" @closeDialog="closeSearchDialog" @search="setToSearch"></cc-dialog-search-nfe>
  </div>
</template>
<style scoped>
</style>
