<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'ccNeoRanking',
  components: {
  },
  data: () => ({
    searchNfeDialog: false,
    items: [],
    toSearch: { client: { label: '', value: '' }, dtEmiss: '', status: [] }
  }),
  mounted () {
    this.fetchAllByUserId()
  },
  computed: {
    search () {
      if (!this.toSearch.client.name && !this.toSearch.dtEmiss && this.toSearch.status.length === 0) return this.items

      let addCli = true
      let addDtEmiss = true
      let addStatus = true

      return this.items.filter(cur => {
        if (this.toSearch.client.name) {
          addCli = cur.clientName.indexOf(this.toSearch.client.name.toString().toUpperCase()) !== -1
        }

        if (this.toSearch.dtEmiss) {
          const dtEmissToSearch = this.convertDate(this.toSearch.dtEmiss)
          const dtEmissToFilter = this.convertDate(cur.dtEmiss)
          addDtEmiss = (dtEmissToSearch >= dtEmissToFilter) && (dtEmissToSearch <= dtEmissToFilter)
        }

        if (this.toSearch.status.length > 0) {
          addStatus = this.toSearch.status.includes(cur.status)
        }
        return addCli && addDtEmiss && addStatus
      })
    }
  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['setMessage', 'setFetching', 'getCollectionGroup']),
    async fetchAllByUserId () {
      try {
        const id = await this.currentUser().userId
        this.setFetching({ fetching: true })
        const itemsNFE = await this.getCollectionGroup({ collectionGroup: 'nfes', filter: { field: 'userId', value: id } })
        this.items = itemsNFE.sort((a, b) => { return new Date(a.dtEmiss).getTime() - new Date(b.dtEmiss).getTime() })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    setToSearch (payload) {
      this.toSearch = payload
      this.searchNfeDialog = false
    },
    closeSearchDialog () {
      this.toSearch = { client: { label: '', value: '' }, dtEmiss: '', status: [] }
      this.searchNfeDialog = false
    }
  }
}
</script>

<template>
  <div class="">
    <q-page class="">
      <div class="my-font-pop text-center">
        <div class="row items-center">
          <div style="padding-top: 2em;font-size:4vh; line-height:110%" class="q-mx-lg col-md col-xs-12 q-px-lg text-h6 text-white text-left">
            <div class="col-12 text-left text-weight-bolder text-h5 text-green" style="font-size:5vh; line-height:100%">
              <span class="text-green glow-verde">NEO</span><span class="text-accent">RANKING</span> 🌎
            </div>
            <div class="q-py-md text-weight-bolder">
              Rankeamento em tempo real, aproveite para participar!
            </div>
          </div>
          <div class="q-pt-lg col-xs-12 col-md text-weight-bolder text-white text-center" style="line-height:120%">
            <div class="q-py-sm" style="font-size:3vh;">
              Últimos Clicks: 🇧🇷, 🇫🇷, 🇺🇾 ...<br />
            </div>
            <div class="" style="">
               <span style="font-size: 3.5em;" class="q-mx-md">🌎</span>
               <span style="font-size:9vh; line-height:110%">2,228</span>
               <span style="font-size:5vh; line-height:110%"></span>
               <span style="font-size:5vh; line-height:110%" class="glow-verde text-green q-pb-sm ">clicks</span>
            </div>
          </div>
          <div class="q-pt-sm col-xs-12 col-md text-weight-bolder text-white text-center-xs" style="line-height:120%">
            <div class="q-py-sm" style="font-size:3vh;">
                Prêmio: Smartwatch 166 Plus<br />
            </div>
            <img class="border-solid-grad q-my-sm" style="width: 40%;" src="~/assets/neo-clock.jpeg">
            <div class="q-py-sm" style="font-size:3vh;">
                🕒 <span class="glow-verde text-green">3h 20m 30s</span>
            </div>
          </div>
        </div>
        <br />
        <div class="border-solid-grad col-md-12 col-xs-12 q-mx-md">
          <div class="flex justify-between items-center">
            <div class="text-center ">
              <q-item class="text-left col-md-3 col-xs">
                <div>
                  <q-btn unelevated round color="green" flat style="position: relative" size="md" class="border-solid-yellow-bold">
                    <q-avatar size="4em" class="q-ma-xs">
                      <img style="" src="~/assets/neo-dev.svg">
                    </q-avatar>
                  </q-btn>
                </div>
                <q-item-section class="col-md col-xs q-pl-md text-green">
                    <q-item-label class="text-bold text-h6">Neocyberpunkers01</q-item-label>
                    <q-item-label style="font-size: 1.2em;" class="text-accent text-h7">SP, Limeira</q-item-label>
                </q-item-section>

              </q-item>
            </div>
            <div class="col">
              <q-btn type="a" size="lg" target="__blank" flat round class="glow-verde q-mr-md bg-panel shadow-4 text-positive">
                <span style="font-size: 1.8em;" class="q-pb-xs">👑</span>
              </q-btn>
            </div>
            <q-card-actions class="" align="center">
              <div class="col-md col-xs-12 flex flex-center" align="center">
                <q-btn class="col-auto q-pa-sm bg-panel" to="" >
                  <div class="column">
                    <q-item-label style="font-size: 3vmin;" class="text-bold text-h6 text-accent row items-center "><span class="q-pr-sm">🚀</span>MEUS LINKS</q-item-label>
                    <q-item-label class="text-bold text-h6 text-green text-lowercase glow-verde">3</q-item-label>
                  </div>
                </q-btn>
                <q-btn class="col-auto q-pa-sm bg-panel" to="" >
                  <div class="column">
                    <q-item-label style="font-size: 3vmin;" class="text-bold text-h6 text-accent row items-center"><span class="q-pr-sm">👆🏼</span>CLICKEI</q-item-label>
                    <q-item-label class="text-bold text-h6 text-green text-lowercase glow-verde">938</q-item-label>
                  </div>
                </q-btn>
                <q-btn class="col-auto q-pa-sm bg-panel" to="" >
                  <div class="column">
                    <q-item-label style="font-size: 3vmin;" class="text-bold text-h6 text-accent row items-center"><span class="q-pr-sm">👇🏼</span>CLICKADO</q-item-label>
                    <q-item-label class="text-bold text-h6 text-green text-lowercase glow-verde">1,3 mil</q-item-label>
                  </div>
                </q-btn>

              </div>
              <!--<q-separator vertical inset color="accent" class="q-mx-sm"/> -->
              <div class="q-py-md">
                <q-btn type="a" size="lg" target="__blank" flat round class="q-mx-md bg-panel shadow-4 text-positive">
                  <span style="font-size: 1.8em;" class="">👇🏼</span>
                </q-btn>

              </div>
            </q-card-actions>
          </div>
        </div>
        <br />
        <div class="border-solid-grad col-md-12 col-xs-12 q-mx-md">
          <div class="flex justify-between items-center">
            <div class="text-center ">
              <q-item class="text-left col-md-3 col-xs">
                <div>
                  <q-btn unelevated round color="green" flat style="position: relative" size="md" class="border-solid-yellow-bold">
                    <q-avatar size="4em" class="q-ma-xs">
                      <img style="" src="~/assets/neo-dev.svg">
                    </q-avatar>
                  </q-btn>
                </div>
                <q-item-section class="col-md col-xs q-pl-md text-green">
                    <q-item-label class="text-bold text-h6">Neocyberpunkers02</q-item-label>
                    <q-item-label style="font-size: 1.2em;" class="text-accent text-h7">SP, Limeira</q-item-label>
                </q-item-section>
              </q-item>
            </div>

            <q-card-actions class="" align="center">
              <div class="col-md col-xs-12 flex flex-center" align="center">
                <q-btn class="col-auto q-pa-sm bg-panel" to="" >
                  <div class="column">
                    <q-item-label style="font-size: 3vmin;" class="text-bold text-h6 text-accent row items-center "><span class="q-pr-sm">🚀</span>MEUS LINKS</q-item-label>
                    <q-item-label class="text-bold text-h6 text-green text-lowercase glow-verde">3</q-item-label>
                  </div>
                </q-btn>
                <q-btn class="col-auto q-pa-sm bg-panel" to="" >
                  <div class="column">
                    <q-item-label style="font-size: 3vmin;" class="text-bold text-h6 text-accent row items-center"><span class="q-pr-sm">👆🏼</span>CLICKEI</q-item-label>
                    <q-item-label class="text-bold text-h6 text-green text-lowercase glow-verde">812</q-item-label>
                  </div>
                </q-btn>
                <q-btn class="col-auto q-pa-sm bg-panel" to="" >
                  <div class="column">
                    <q-item-label style="font-size: 3vmin;" class="text-bold text-h6 text-accent row items-center"><span class="q-pr-sm">👇🏼</span>CLICKADO</q-item-label>
                    <q-item-label class="text-bold text-h6 text-green text-lowercase glow-verde">945</q-item-label>
                  </div>
                </q-btn>

              </div>
              <!--<q-separator vertical inset color="accent" class="q-mx-sm"/> -->
              <div class="q-py-md">
                <q-btn type="a" size="lg" target="__blank" flat round class="q-mx-md bg-panel shadow-4 text-positive">
                  <span style="font-size: 1.8em;" class="">👆🏼</span>
                </q-btn>
                <q-btn v-show="false" type="a" size="lg" target="__blank" flat round class="glow-verde q-mr-md bg-panel shadow-4 text-positive">
                  <span style="font-size: 1.8em;" class="q-pb-xs">👑</span>
                </q-btn>
              </div>
            </q-card-actions>
          </div>
        </div>
        <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
          <q-btn fab icon="keyboard_arrow_up" color="primary" />
        </q-page-scroller>
      </div>
    </q-page>
    <cc-dialog-search-nfe :searchNfeDialog="searchNfeDialog" :toSearch="toSearch" @closeDialog="closeSearchDialog" @search="setToSearch"></cc-dialog-search-nfe>
  </div>
</template>
<style scoped>
</style>
