<script>
import { mapActions } from 'vuex'
import { isEmpty } from 'lodash'
import validationsMixins from '@mixins/validations'
export default {
  name: 'ccRegister',
  mixins: [validationsMixins.rules],
  data: () => ({
    user: {
      email: '',
      password: '',
      confirmedPassword: ''
    },
    panel: 1,
    accept: false,
    loadingRegisterEmail: false,
    loadingRegisterPassword: false
  }),
  methods: {
    ...mapActions(['register', 'setMessage', 'sendEmailVerification', 'checkIfEmailAlreadyExists']),
    async doRegisterFirstStep () {
      this.$refs.email.validate()
      if (this.$refs.email.hasError) {
        return
      }
      this.loadingRegisterEmail = true
      setTimeout(async () => {
        this.loadingRegisterEmail = false
        const user = { email: this.user.email }
        try {
          const alreadyExists = await this.checkIfEmailAlreadyExists({ ...user })
          if (alreadyExists) {
            this.setMessage({ type: 'warning', message: 'Este endereço de e-mail já está sendo usado por outra conta' })
            return
          }
          this.$refs.panel.next()
        } catch (error) {
          console.log(error)
        }
      }, 1000)
    },
    async doRegisterFinalStep () {
      this.$refs.confirmedPassword.validate()
      if (this.$refs.confirmedPassword.hasError) {
        this.setMessage({ type: 'warning', message: 'Senha inválida' })
        return
      }
      this.loadingRegisterPassword = true
      setTimeout(async () => {
        const user = { email: this.user.email, password: this.user.password }
        try {
          await this.register({ ...user })
          await this.sendEmailVerification()
          this.loadingRegisterPassword = false
          this.$router.push({ name: 'email-verified.index' })
        } catch (error) {
          this.setMessage({ type: 'warning', message: 'Não foi possível criar seu usuário' })
          this.loadingRegisterPassword = false
          console.log(error.message)
        }
      }, 1000)
    },
    next () {
      if (this.panel === 2) {
        this.doRegister()
        return
      }
      this.$refs.panel.next()
    }
  },
  computed: {
    isValidEmail () {
      return (isEmpty(this.user.email))
    },
    isValidPasswordField () {
      return (isEmpty(this.user.password) || !this.accept)
    },
    isValidPassword (val) {
      return [
        val => !!val || 'Campo Obrigatório',
        val => this.user.password === this.user.confirmedPassword || 'As senhas não estão iguais'
      ]
    }
  }
}
</script>
<template lang="html">
  <q-page class="row justify-center items-center my-font-pop">
    <div :class="[$q.screen.gt.xs ? 'shadow-1' : '' ,'col-md-5 col-sm-8 q-col-gutter-y-lg']">
      <q-tab-panels
        ref="panel"
        v-model="panel"
        animated
        swipeable
        class=""
      >
        <q-tab-panel :name="1">
          <div class="column items-center">
            <q-input ref="email" @keyup.enter="doRegisterFirstStep" type="email" style="width:25em" :rules="isValidEmailFormat" lazy-rules class="" v-model="user.email" label="Digite seu melhor e-mail">
              <template v-slot:prepend>
                <q-avatar>
                  <q-icon size="15px" color="primary" name="fas fa-envelope" />
                </q-avatar>
              </template>
            </q-input>
            <div class="text-center">
              <img style="width: 25em" src="~/assets/auth/authentication.svg" class="" />
            </div>
          </div>
        </q-tab-panel>

        <q-tab-panel :name="2">
          <div class="column items-center">
            <q-input type="password" :rules="isValidPasswordLength" lazy-rules clearable class="" v-model="user.password" label="Escolha sua senha">
                <template v-slot:prepend>
                  <q-avatar>
                    <q-icon size="15px" color="primary" name="fas fa-unlock-alt" />
                  </q-avatar>
                </template>
            </q-input>
            <q-input ref="confirmedPassword" @keyup.enter="doRegister" :rules="isValidPassword" lazy-rules clearable type="password" class="" v-model="user.confirmedPassword" label="Confirme a senha">
              <template v-slot:prepend>
                <q-avatar>
                  <q-icon size="15px" color="primary" name="fas fa-lock" />
                </q-avatar>
              </template>
            </q-input>
            <div class="text-center">
              <img style="width: 20em" src="~/assets/auth/password.svg" class="" />
            </div>
            <div class="row justify-center">
              <q-toggle size="xs" v-model="accept">
                <template v-slot:default>
                  <div class="text-caption text-center">
                    Li e aceito os termos, <br>licenças e condições de uso
                  </div>
                </template>
              </q-toggle>
            </div>
          </div>
        </q-tab-panel>
      </q-tab-panels>
      <div class="q-gutter-x-lg text-center q-mb-lg">
        <q-btn stretch icon="arrow_back" flat color="primary" @click="() => panel > 1 ? $refs.panel.previous() : $router.go(-1)" label="" />
        <q-btn stretch :disable="isValidEmail" v-if="panel !== 2" :loading="loadingRegisterEmail" icon-right="arrow_forward" @click="doRegisterFirstStep" color="primary" label="CONTINUAR" />
        <q-btn stretch :disable="isValidPasswordField" v-if="panel === 2" :loading="loadingRegisterPassword" icon-right="check" @click="doRegisterFinalStep" color="primary" label="REGISTRAR" />
      </div>

        <!-- <template v-slot:navigation>
          <q-stepper-navigation class="q-gutter-md text-center">
            <q-btn stretch icon="arrow_back" flat class="text-primary" @click="() => step > 1 ? $refs.panel.previous() : $router.go(-1)" label="" />
            <q-btn stretch :disable="isValidEmail" v-if="step !== 2" :loading="loadingRegisterEmail" icon-right="arrow_forward" @click="doRegisterFirstStep" color="primary" label="CONTINUAR" />
            <q-btn stretch :disable="isValidPasswordField" v-if="step === 2" :loading="loadingRegisterPassword" icon-right="check" @click="doRegisterFinalStep" color="primary" label="REGISTRAR" />
          </q-stepper-navigation>
        </template> -->
    </div>
  </q-page>
</template>

<style lang="stylus">
</style>
