<script>
import { mapActions } from 'vuex'
import { isEmpty } from 'lodash'
import validationsMixins from '@mixins/validations'
export default {
  name: 'ResetPassword',
  mixins: [validationsMixins.rules],
  data: () => ({
    email: '',
    firstAttempt: '',
    secondAttempt: '',
    loading: false
  }),
  computed: {
    isEmailValid () {
      return !isEmpty(this.email)
    },
    isNewPassValid () {
      return this.firstAttempt && this.secondAttempt && this.firstAttempt === this.secondAttempt
    }
  },
  methods: {
    ...mapActions(['setMessage', 'sendPasswordResetEmail']),
    validPassword () {
      if (this.isNewPassValid) return true
      this.setMessage({ type: 'warning', message: 'Preencha corretamente as senhas' })
      return false
    },
    validEmail (email) {
      if (email) return true
      this.setMessage({ type: 'warning', message: 'Preencha o email' })
      return false
    },
    async sendEmail () {
      this.$refs.email.validate()
      const email = this.email
      if (!this.validEmail(email) || this.$refs.email.hasError) return
      try {
        this.loading = true
        await this.sendPasswordResetEmail({ email })
        setTimeout(() => {
          this.setMessage({ type: 'success', message: 'Enviamos um e-mail para você.<br> Verifique sua caixa de entrada' })
          this.$router.push({ name: 'auth.index' })
        }, 800)
      } catch (error) {
        this.setMessage({ type: 'warning', message: 'Email não encontrado' })
        console.error(error)
      } finally {
        this.loading = false
      }
    },
    hide () {
      this.$router.push({ name: 'auth.index' })
    }
  }
}
</script>
<template>
  <q-page class="row justify-center items-center my-font-pop">
    <div :class="[$q.screen.gt.xs ? 'shadow-1' : '' ,'q-gutter-y-lg column col-md-5 col-sm-8 items-center']">
      <img style="width: 25em" src="~/assets/auth/forgot-password.svg" class="" />
      <div class="text-h6">Recuperação de Senha</div>
      <q-input v-model="email" :rules="isValidEmailFormat" ref="email" type="email" style="width:23em" label="Digite o e-mail cadastrado">
        <template v-slot:prepend>
          <q-avatar>
            <q-icon size="12px" color="primary" name="fas fa-envelope" />
          </q-avatar>
        </template>
      </q-input>
      <div class="q-gutter-x-lg q-mb-lg">
        <q-btn flat icon="arrow_back" color="primary" class="" label="" @click="() => $router.go(-1)" />
        <q-btn stretch icon-right="fab fa-telegram-plane" :disabled="!isEmailValid" :loading="loading" color="primary" label="Enviar confirmação" @click="sendEmail"/>
      </div>
    </div>
  </q-page>
</template>
