<script>
import ccDialogSearchNfe from './dialogs/dialog-search-nfe'
import ccTimeline from './timeline'
import { mapActions, mapGetters } from 'vuex'
import { nfeCommon } from '../mixins/nfe-common'
export default {
  name: 'ccNeoshare',
  mixins: [nfeCommon],
  components: {
    ccDialogSearchNfe,
    ccTimeline
  },
  data: () => ({
    searchNfeDialog: false,
    items: [],
    toSearch: { client: { label: '', value: '' }, dtEmiss: '', status: [] }
  }),
  mounted () {
    this.fetchAllByUserId()
  },
  computed: {
    search () {
      if (!this.toSearch.client.name && !this.toSearch.dtEmiss && this.toSearch.status.length === 0) return this.items

      let addCli = true
      let addDtEmiss = true
      let addStatus = true

      return this.items.filter(cur => {
        if (this.toSearch.client.name) {
          addCli = cur.clientName.indexOf(this.toSearch.client.name.toString().toUpperCase()) !== -1
        }

        if (this.toSearch.dtEmiss) {
          const dtEmissToSearch = this.convertDate(this.toSearch.dtEmiss)
          const dtEmissToFilter = this.convertDate(cur.dtEmiss)
          addDtEmiss = (dtEmissToSearch >= dtEmissToFilter) && (dtEmissToSearch <= dtEmissToFilter)
        }

        if (this.toSearch.status.length > 0) {
          addStatus = this.toSearch.status.includes(cur.status)
        }
        return addCli && addDtEmiss && addStatus
      })
    }
  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['setMessage', 'setFetching', 'getCollectionGroup']),
    async fetchAllByUserId () {
      try {
        const id = await this.currentUser().userId
        this.setFetching({ fetching: true })
        const itemsNFE = await this.getCollectionGroup({ collectionGroup: 'nfes', filter: { field: 'userId', value: id } })
        this.items = itemsNFE.sort((a, b) => { return new Date(a.dtEmiss).getTime() - new Date(b.dtEmiss).getTime() })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    setToSearch (payload) {
      this.toSearch = payload
      this.searchNfeDialog = false
    },
    closeSearchDialog () {
      this.toSearch = { client: { label: '', value: '' }, dtEmiss: '', status: [] }
      this.searchNfeDialog = false
    }
  }
}
</script>

<template>
  <div class="">
    <cc-timeline :items="search"/>
    <cc-dialog-search-nfe :searchNfeDialog="searchNfeDialog" :toSearch="toSearch" @closeDialog="closeSearchDialog" @search="setToSearch"></cc-dialog-search-nfe>
  </div>
</template>
<style scoped>
</style>
