<script>
import { columns, visibleColumns } from '../table'
import ccTableMain from '@components/table-main'
import router from '@mixins/router'
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  name: 'CcQuotations',
  mixins: [router.navigation],
  components: {
    ccTableMain
  },
  data: () => ({
    columns,
    visibleColumns,
    serverPagination: {
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 0
    },
    filter: '',
    model: 'orders',
    routerName: 'order',
    nfes: [],
    users: [],
    loading: false
  }),
  mounted () {
    this.fetch()
  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['getCollectionGroup', 'setMessage', 'setFetching', 'updateSubCollection1', 'sendUserNotification']),
    async fetch () {
      try {
        this.loading = true
        this.nfes = await this.getCollectionGroup({ collectionGroup: 'nfes' })
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    updateField (field, nfe) {
      if (isEmpty(nfe) || isEmpty(field)) return
      this.setFetching({ fetching: true })
      this.updateSubCollection1({
        collection: 'users',
        collectionId: nfe.userId,
        subCollection: 'clients',
        subCollectionId: nfe.clientId,
        subCollection1: 'nfes',
        subCollection1Id: nfe._id,
        fields: { ...field, responsibleUserId: this.currentUser().userId, responsibleUserEmail: this.currentUser().email }
      }).then(async () => {
        this.setMessage({ type: 'success', message: 'Alterado com sucesso' })
        if (field.status && field.status === 1) {
          this.$q.dialog({
            title: 'Envio de Notificatição',
            message: `<span class="text-subtitle1">Enviar uma notificação para o usuário <br> ${nfe.userEmail || ''} ?</span>`,
            html: true,
            ok: {
              color: 'primary',
              label: 'SIM'
            },
            cancel: {
              color: 'red-9',
              label: 'NÃO'
            }
          }).onOk(async () => {
            await this.sendUserNotification({ userId: nfe.userId, typeMessage: 0 })
          }).onCancel(() => {
          }).onDismiss(() => {
          })
        }
        await this.fetch()
      }).catch(e => console.log(e))
        .finally(() => this.setFetching({ fetching: false }))
    },
    search (payload) {
      console.log(payload)
    }
  }
}
</script>

<template>
  <div>
    <cc-table-main
    :data="nfes"
    :columns="columns"
    :visibleColumns="visibleColumns"
    :allowBlock="true"
    :allowRemove="false"
    :allowAdd="false"
    :allowEdit="false"
    :serverPagination="serverPagination"
    :loading="loading"
    model="nfe"
    @search="search"
    @updateRow="updatedData => data = updatedData"
    @updateField="updateField"
    @sync="fetch">
    </cc-table-main>
  </div>
</template>
<style scoped>
</style>
