<script>
// import ccTimelineItem from './timeline-item'
export default {
  name: 'ccTimeline',
  components: {
    // ccTimelineItem
  },
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    thumbStyle: {
      right: '4px',
      borderRadius: '3px',
      backgroundColor: '#303751',
      width: '5px',
      opacity: 0.75
    },
    stars: 1
  })
}
</script>
<template>
  <page>
    <div class="my-font-pop text-center">
      <div class="">
        <div class="text-weight-bolder text-h5 text-green" style="line-height:200%">
          NEOGALLERY 🌎<br />
        </div>
        <div class="text-weight-bolder text-h6 text-white" style="line-height:200%">
          COMPARTILHE A ARTE DE RUA!
        </div>
        <div class="q-pb-md text-weight-bolder text-subtitle2 text-white border-bottom-1" style="line-height:200%">
          Últimas postagens 🇧🇷, 🇫🇷, 🇺🇾 ...
        </div>
      </div>
      <br />
      <q-list>
        <div class="row text-left">
          <div v-for="n in 10" :key="n"  class=" col-xs-12 col-md-4">
            <div class="q-pa-md q-gutter-sm col">
              <q-card class="my-card border-solid-grad bg-primary">
                <q-item class="">
                  <q-btn unelevated round color="green" flat style="position: relative" size="md" class="border-solid-yellow-bold">
                    <q-avatar size="4em" class="q-ma-xs">
                      <img style="" src="https://cdn.quasar.dev/img/avatar2.jpg">
                    </q-avatar>
                  </q-btn>
                  <q-item-section class="q-pl-md text-green">
                      <q-item-label class="text-bold text-h6">Nina Alcântara</q-item-label>
                      <q-item-label style="font-size: 1.2em;" class="text-accent text-h7">SP, Limeira</q-item-label>
                  </q-item-section>
                </q-item>
                <div class="q-pb-sm border-bottom-1">
                  <div class="row items-center">
                    <div class="col-6 text-center">
                      <q-btn
                      round flat
                        color="green"
                        icon="fas fa-camera"
                        size="1em"
                        class=""
                      />
                      <q-btn
                      round flat
                        color="green"
                        icon="place"
                        size="1em"
                        class=""
                      />

                    </div>
                    <div class="col-6 row">
                      <q-rating size="2em" v-model="stars" max="1" color="yellow" />
                      <div class="q-pt-xs text-h6 text-green text-bold q-ml-sm">4.2 (551)</div>
                    </div>

                  </div>
                </div>

                <img src="https://i0.wp.com/followthecolours.com.br/wp-content/uploads/2018/09/follow-the-colours-bogota-colombia-graffiti-tour-01.jpg?resize=620%2C465&ssl=1">
              </q-card>
            </div>
          </div>
        </div>
      </q-list>
      <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
        <q-btn fab icon="keyboard_arrow_up" color="primary" />
      </q-page-scroller>
    </div>
  </page>
</template>
