<script>
import { nfeCommon } from '../mixins/nfe-common'
export default {
  name: 'ccTimelineItem',
  mixins: [nfeCommon],
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
  }),
  methods: {
    openDetail (nfe) {
      const nfeId = nfe._id
      const clientId = nfe.clientId
      this.$router.push({ name: 'detail.index', params: { client: clientId, nfe: nfeId } })
    }
  }
}
</script>

<template>
  <div>
    <div class="row">
      <q-list v-for="nfe in items" :key="nfe._id" style="font-size:0.7em;max-width:45em" class="q-mt-sm q-mr-sm bg-white col-md-6 col-sm-12 col-xs-12">
        <q-card clickable @click="openDetail(nfe)" class="cursor-pointer" style="border-radius:15px;">
          <q-item class="q-my-sm">
            <q-item-label class="col-auto">
              <q-btn size="xs" class="q-mt-xs" round :color="convertColor(nfe.status)" :icon="convertIcon(nfe.status)"></q-btn>
            </q-item-label>
            <q-item-section class="q-ml-md col-xs-auto">
              <q-item-label caption>{{convertStatus(nfe.status)}} <span style="font-size:0.9em" class="text-caption">{{nfe.status === 1 ? `- N° ${nfe.number}` : ''}}</span></q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="">
            <q-item-section class="text-bold text-caption">
              <q-item-label lines="3">{{nfe.clientName}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="">
            <q-item-section class="">
              <q-item-label lines="2" v-if="(nfe.emailTomador || '').length">E-mail tomador</q-item-label>
              <q-item-label class="text-bold" lines="2">{{nfe.emailTomador}}</q-item-label>
            </q-item-section>
            <q-item-section class="text-right">
              <q-item-label lines="1">Serviço Prestado</q-item-label>
              <q-item-label lines="5" class="text-bold">{{nfe.descPrest}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="">
            <!-- <q-item-section class="">
              <q-item-label lines="3" v-if="(nfe.descObs || '').length">Observação</q-item-label>
              <q-item-label lines="3"  class="text-bold" v-if="(nfe.descObs || '').length">{{ nfe.descObs }}</q-item-label>
            </q-item-section> -->
            <q-item-section class="text-left">
              <q-item-label class="text-bold" >{{ convertDateToText(nfe.dtEmiss) }}</q-item-label>
            </q-item-section>
            <q-item-section class="text-right">
              <q-item-label caption lines="1">Valor (R$)</q-item-label>
              <q-item-label class="text-subtitle1 text-primary text-bold">{{ formatPrice(nfe.price) }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </q-list>
    </div>
  </div>
</template>

<style scoped>

</style>
