<script>
export default {
  name: 'emdesenvolvimento',
  data: () => ({
  }),
  computed: {

  },
  methods: {
    playSound (sound) {
      if (sound) {
        var audio = new Audio(sound)
        audio.play()
      } else {
        audio.pause()
      }
    }
  }
}
</script>
<template>
  <q-page class="bg-vortex row justify-center items-center my-font-pop">
    <div :class="[$q.screen.gt.xs ? '' : '' ,'q-pa-sm q-gutter-y-sm column col-md-5 col-sm-8 items-center']">
      <img style="width:40vh" src="~/assets/YVPE.gif" class="q-mb-md" />
      <div class="text-h6 text-green glow-verde q-mb-sm">
        Estamos em Desenvolvimento...
      </div>
      <audio
        class="q-my-md"
        controls
        src="https://mp3.fastupload.co/data/1620609100/dub-mp3.mp3"
        type="audio/mp3"
      >
      </audio>
      <div class="q-mb-md q-my-md">
        <q-btn type="a" target="_blank" name="img:icons/google.png" unelevated class=" border-solid-grad bg-panel glow-verde text-green q-ma-sm" color="" >
          <q-icon class="q-mr-sm" size="xs" color="green" name="fab fa-telegram-plane" />
          PARTICIPE DA BRAINSTORM
        </q-btn>
      </div>

    </div>
  </q-page>
</template>

<style lang="css">
audio::-webkit-media-controls-panel {
  background-color: #2edd45;
}

audio::-webkit-media-controls-play-button {
  background-color: #512da8;
  border-radius: 50%;
}

audio::-webkit-media-controls-toggle-closed-captions-button {
  background-color: #512da8;
  border-radius: 50%;
}
</style>
