
<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ccNotify',
  computed: {
    ...mapState(['global']),
    formatedSuccesMessage () {
      if (this.hasSuccessMessage()) {
        const msg = this.global.messages.success
        this.$q.notify({
          message: `<div class="font-alerts">${msg}</div>`,
          timeout: 5000,
          progress: true,
          color: 'secondary',
          textColor: 'white',
          icon: 'announcement',
          html: true,
          position: 'top'
        })
        this.setMessage({ type: 'success', message: '' })
      }
      return ''
    },
    formatedWarningMessage () {
      if (this.hasWarningMessages()) {
        const msg = this.global.messages.warning
        this.$q.notify({
          message: `<div class="font-alerts">${msg}</div>`,
          timeout: 5000,
          progress: true,
          color: 'primary',
          textColor: 'white',
          icon: 'fas fa-exclamation-circle',
          html: true,
          position: 'top'
        })
        this.setMessage({ type: 'warning', message: '' })
      }
      return ''
    }
  },
  methods: {
    ...mapActions(['setMessage']),
    hasValidationMessages () {
      return this.global.messages.validation.length > 0
    },
    hasSuccessMessage () {
      return this.global.messages.success !== ''
    },
    hasErrorMessages () {
      return this.global.messages.error.length > 0
    },
    hasWarningMessages () {
      return this.global.messages.warning !== ''
    }
  }
}
</script>

<template>
  <div>
    <div>
      {{formatedSuccesMessage}}
    </div>
    <div>
      {{formatedWarningMessage}}
    </div>
  </div>
</template>

<style></style>
