<script>
export default {
  name: 'ccBanner',
  props: {
    text: {
      type: String,
      default: () => ''
    }
  }
}
</script>

<template lang="html">
  <div class="row items-center q-my-md q-py-xs bg-accent">
    <div class="col-md-auto col-sm-auto col-xs-12 text-center ">
      <q-icon class="q-mx-lg" size="md" name="fas fa-exclamation-triangle" style="color: #A18733" />
    </div>
    <div class="col-md col-sm col-xs-12 q-pa-md text-bold banner-text">
      {{text}}
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.banner-text
  font-size 0.9em
  color #A18733
</style>
