<script>
import { mapActions, mapGetters } from 'vuex'
import { date } from 'quasar'
export default {
  name: 'ccDialogChat',
  data: () => ({
    dialogChat: true,
    createdCall: '',
    tab: 1,
    userIdOwner: '',
    alreadySendMessage: false,
    message: '',
    call: {
      userEmail: '',
      userId: '',
      responsibleUserEmail: '',
      responsibleUserId: '',
      dateTime: date.formatDate(Date.now(), 'YYYY-MM-DDTHH:mm:ss.SSSZ'),
      status: 0,
      messages: [],
      type: ''
    },
    contentStyle: {
      backgroundColor: '#ffffff',
      color: '#555'
    },
    contentActiveStyle: {
      backgroundColor: '#ffffff',
      color: '#555'
    },
    thumbStyle: {
      borderRadius: '5px',
      backgroundColor: '#ffffff',
      width: '5px',
      opacity: 0
    }
  }),
  mounted () {
    this.fetchById()
  },
  computed: {
    isEditing () {
      return this.$route.params.id
    }
  },
  methods: {
    ...mapActions(['getCollectionByPathOnSnapShot', 'setFetching', 'updateSubCollection', 'postCreateSubCollection', 'sendNotification', 'sendUserNotification']),
    ...mapGetters(['currentUser', 'isAdmin']),
    async fetchById () {
      const id = this.$route.params.id
      const userId = this.$route.query.userId
      if (!id || !userId) return
      this.tab = 2
      this.setFetching = true
      this.getCollectionByPathOnSnapShot({
        collectionPath: `users/${userId}/calls/${id}`
      }).then(collectionSelected => {
        collectionSelected.onSnapshot({ includeMetadataChanges: false }, snapshot => {
          const data = {
            _id: snapshot.id,
            ...snapshot.data()
          }
          const { userEmail, userId, responsibleUserEmail, responsibleUserId, type, dateTime, status, messages, lastUserId } = data
          this.call.userEmail = userEmail
          this.call.userId = userId
          this.call.responsibleUserEmail = responsibleUserEmail
          this.call.responsibleUserId = responsibleUserId
          this.call.type = type
          this.call.dateTime = dateTime
          this.call.status = status
          this.call.messages = messages
          this.call.lastUserId = lastUserId
        })
      }).catch(err => {
        console.log(err)
      }).finally(() => {
        this.setFetching = false
      })
    },
    submit () {
      const message = {
        userId: this.currentUser().userId,
        userEmail: this.currentUser().email,
        dateTime: date.formatDate(Date.now(), 'YYYY-MM-DDTHH:mm:ss.SSSZ'),
        text: this.message
      }
      const call = { ...this.call }
      call.messages.push(message)
      this.message = ''
      if (this.isEditing || this.createdCall) {
        this.update(call)
      } else {
        this.save(call)
      }
    },
    async save (call) {
      call.userId = this.currentUser().userId
      call.userEmail = this.currentUser().email
      call.lastUserId = this.currentUser().userId
      call.newMessage = true
      this.userIdOwner = this.currentUser().userId
      this.createdCall = await this.postCreateSubCollection({
        collection: 'users',
        collectionId: this.currentUser().userId,
        subCollection: 'calls',
        fields: { ...call }
      })
      await this.sendNotification({ userId: call.userId, typeMessage: 2, callId: this.createdCall })
      this.alreadySendMessage = true
      this.scroll()
    },
    async update (call) {
      await this.updateSubCollection({
        collection: 'users',
        collectionId: call.userId || this.userIdOwner,
        subCollection: 'calls',
        subCollectionId: this.$route.params.id || this.createdCall,
        fields: {
          messages: call.messages,
          lastUserId: this.currentUser().userId
        }
      })
      this.scroll()
      if (this.alreadySendMessage || this.call.lastUserId === this.currentUser().userId) return
      this.isAdmin()
        ? await this.sendUserNotification({ userId: call.userId, typeMessage: 2, callId: this.$route.params.id })
        : await this.sendNotification({ userId: call.userId, typeMessage: 2, callId: this.$route.params.id })
      this.alreadySendMessage = true
    },
    scroll () {
      const scrollArea = this.$refs.chatScroll
      const scrollTarget = scrollArea.getScrollTarget()
      const duration = 0
      scrollArea.setScrollPercentage(scrollTarget.scrollHeight, duration)
    },
    next (type) {
      this.call.type = type
      this.tab = 2
    },
    beforeTransition () {
      if (this.isEditing) this.tab = 2
    }
  }
}
</script>

<template lang="html">
  <q-dialog class="" :maximized="$q.screen.lt.sm" no-esc-dismiss no-backdrop-dismiss v-model="dialogChat">
    <q-card flat style="width: 100vw; height: 100vh" class="">
      <div style="font-size: 1.0em;" class="my-font-pop q-mx-md text-grey-9">
        <q-list padding class="q-mt-sm q-mr-sm bg-white">
          <div class="row items-center q-pa-sm">
            <div class="col-md-11 col-xs-11 text-h6">
              <span v-if="tab === 1" class="text-primary my-font-pop text-subtitle1 text-grey-5"> Qual assunto da mensagem?</span>
              <span v-else class="text-primary my-font-pop text-subtitle1 text-grey-5"> O que aconteceu ?</span>
            </div>
            <div class="col-md-1 col-xs-1 text-right ">
              <q-btn @click="$router.go(-1)" size="sm" color="negative" flat round dense icon="close" v-close-popup />
            </div>
          </div>
          <q-separator/>
          <q-tab-panels
            ref="panel"
            v-model="tab"
            @before-transition="beforeTransition"
            animated
            swipeable
            style="border-radius:20px">
            <q-tab-panel :name="1">
              <q-list class="q-mt-sm q-mr-sm bg-white">
                <q-item clickable @click="next('Cliente')" class="">
                  <q-item-section class="text-left">
                    <q-item-label class="text-bold text-grey-9 text-subtitle1 my-font-pop " lines="3">Cliente</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <q-item clickable @click="next('NFSe')" class="">
                  <q-item-section class="text-left">
                    <q-item-label class="text-bold text-grey-9 text-subtitle1 my-font-pop " lines="3">NFSe</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <q-item clickable @click="next('Assinatura')" class="">
                  <q-item-section class="text-left">
                    <q-item-label class="text-bold text-grey-9 text-subtitle1 my-font-pop " lines="3">Assinatura</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <q-item clickable @click="next('Sugestão')" class="">
                  <q-item-section class="text-left">
                    <q-item-label class="text-bold text-grey-9 text-subtitle1 my-font-pop " lines="3">Sugestão</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <q-item clickable @click="next('Outros')" class="">
                  <q-item-section class="text-left">
                    <q-item-label class="text-bold text-grey-9 text-subtitle1 my-font-pop " lines="3">Outros</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
              <q-separator/>
            </q-tab-panel>
            <q-tab-panel :name="2">
              <q-scroll-area
                ref="chatScroll"
                :thumb-style="thumbStyle"
                :visible="false"
                :content-style="contentStyle"
                :content-active-style="contentActiveStyle"
                style="height: 70vh; max-width: 580px;"
              >
              <div v-if="call" class="q-pa-md q-mt-xl row justify-center">
                <div style="width: 100%; max-width: 400px">
                  <q-chat-message
                  v-for="message in call.messages" :key="message._id"
                  :text="[message.text]"
                  size="10"
                  :name="message.userEmail"
                  :sent="message.userId === currentUser().userId"/>
                </div>
              </div>
              </q-scroll-area>
              <q-input :disable="call.status === 2" ref="sendInput" autofocus @keyup.enter="submit" class="col-12" hint="Informe o máximo de detalhes. Vamos analisar e responderemos o mais breve." v-model="message"
                autogrow type="textarea" >
                <template v-slot:append>
                  <q-btn @click="submit" class="" size="0.5em" round flat icon="send"></q-btn>
                </template>
              </q-input>
            </q-tab-panel>
          </q-tab-panels>
        </q-list>
      </div>
    </q-card>
  </q-dialog>
</template>

<style lang="css" scoped>
</style>
