<script>
import { mapActions } from 'vuex'
import services from '@in-house-functions/services'
import ccClientItem from '@clients/components/client-item'
import ccTimelineItem from '@nfe/components/timeline-item'
import ccDialogNewNfe from '@nfe/components/dialogs/dialog-new-nfe'
import ccDialogDetailNfe from '@nfe/components/dialogs/dialog-detail-nfe'
export default {
  name: 'ccDialogSearchResults',
  components: {
    ccClientItem,
    ccTimelineItem,
    ccDialogNewNfe,
    ccDialogDetailNfe
  },
  data () {
    return {
      services,
      textSearch: '',
      tab: 'ativities',
      activitiesItems: [],
      clientsItems: [],
      openDialogNewNfe: false,
      openDialogDetNfe: false,
      client: { id: null, CNPJ: '', name: '' },
      nfe: {
        id: null,
        dtEmiss: '',
        location: '',
        cnpj: '',
        uf: '',
        cliName: '',
        descPrest: '',
        descObs: '',
        price: 0
      }
    }
  },
  props: {
    openDialogSearch: {
      type: Boolean,
      default: () => false
    },
    searchData: {
      type: String,
      default: () => ''
    }
  },
  methods: {
    ...mapActions(['setFetching', 'getAll']),
    openNfe (nfe) {
      this.nfe = nfe
      this.openDialogDetNfe = true
    },
    openNewNfe (client) {
      this.client = client
      this.openDialogNewNfe = true
    },
    closeDialogNewNfe () {
      this.openDialogNewNfe = false
      this.client = {}
    },
    closeDialogDetNfe () {
      this.openDialogDetNfe = false
      this.nfe = {}
    },
    async onSearchClick () {
      const queryClient = this.getAll('clients')
      const queryNfes = this.getAll('nfes')
      let cliItems = []
      this.setFetching({ fetching: true })
      queryClient
        .then(clients => {
          cliItems = clients
          return queryNfes
        })
        .then(result => {
          this.activitiesItems = result.filter(r =>
            `${r.cliName} ${r.cnpj} ${r.descPrest}`.toUpperCase()
              .includes(this.textSearch.toUpperCase()))

          this.clientsItems = cliItems.filter(r =>
            `${r.name} ${r.CNPJ} ${r.fantasyName} ${r.email}`.toUpperCase()
              .includes(this.textSearch.toUpperCase()))

          this.setFetching({ fetching: false })
        })
    }
  }
}
</script>
<template>
  <div class="">
    <cc-dialog-new-nfe
      :openDialog="openDialogNewNfe"
      :client="client"
      @closeDialog="closeDialogNewNfe"/>
    <cc-dialog-detail-nfe
      :openDialog="openDialogDetNfe"
      :nfe="nfe"
      @closeDialog="closeDialogDetNfe"></cc-dialog-detail-nfe>
    <q-dialog class="" :maximized="$q.screen.lt.sm" no-esc-dismiss no-backdrop-dismiss v-model="openDialogSearch">
      <q-card style="width: 100vw; height: 100vh;" class="">
        <div class="flex flex-center row q-pa-sm">
          <div class="col-md-10 col-xs-6 text-h6">
            <span class="text-secondary">Bus</span>
            <span class="text-blue">ca</span>
          </div>
          <div class="col-md-1 col-xs-6 text-right ">
            <q-btn @click="() => $emit('closeDialog')" color="negative" flat round dense icon="close" v-close-popup />
          </div>
        </div>
        <q-separator/>
        <div class="">
          <div class="row">
            <div class="col-12">
              <q-input v-model="textSearch" input-class="text-left" class="q-mx-md">
                <template v-slot:prepend>
                  <q-icon color="primary" name="search" />
                </template>
                <template v-slot:append>
                  <q-btn color="primary" style="margin-top: 5px" round icon="search" @click="onSearchClick()" />
                </template>
              </q-input>
            </div>
          </div>
          <div class="row">
            <div class="">
              <div class="q-gutter-y-md" style="max-width: 600px">
                <q-card style="width: 100vw; height: 100vh;">
                  <q-tabs
                    v-model="tab"
                    dense
                    class="text-grey"
                    active-color="primary"
                    indicator-color="primary"
                    align="justify"
                    narrow-indicator
                  >
                    <q-tab name="ativities" label="Atividades" />
                    <q-tab name="clients" label="Clientes" />
                  </q-tabs>
                  <q-separator />
                  <q-tab-panels v-model="tab" animated>
                    <q-tab-panel name="ativities" style="margin: 0">
                      <div >
                        <q-timeline style="width: 96%" class="text-grey-9" color="secondary">
                          <cc-timeline-item v-for="item in activitiesItems" :key="item._id" :nfe="item" @openNfe="openNfe(item)"></cc-timeline-item>
                        </q-timeline>
                      </div>
                    </q-tab-panel>
                    <q-tab-panel name="clients">
                      <div>
                        <cc-client-item v-for="item in clientsItems" :key="item._id" :client="item" @openNfe="openNewNfe(item)"></cc-client-item>
                      </div>
                    </q-tab-panel>
                  </q-tab-panels>
                </q-card>
              </div>
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
