<script>
export default {
  name: 'ccDialogs',
  props: {
    model: {
      type: Boolean,
      default: () => false
    }
  }
}
</script>

<template lang="html">
  <q-dialog @input="() => $emit('setModel', !model)" :value="model">
    <q-card>
      <q-card-section align="center">
        <!-- <div class="text-h6">Alerta</div> -->
        <q-icon size="27px" color="secondary" name="fas fa-check-circle"></q-icon>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <p class="label-font">
          E-mail de verificação enviado!
        </p>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="OK" color="grey-8" @click="$emit('setModel', false)"  />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="stylus" scoped>
.label-font
  font-size 16px
  color rgba(102,102,102,1)
</style>
