
<script>
export default {
  name: 'ccMyMenuExpansion',
  components: {
  },
  data: () => ({

  })
}
</script>

<template>
  <div class="q-mx-sm my-font-pop border-top-color">
    <q-expansion-item
      group=""
      icon="fas fa-receipt"
      expand-icon="far fa-hand-pointer"
      expand-icon-class="text-primary"
      label="MENU MICROEMPREENDEDOR (MEI)"
      caption="Cadastre notas fiscais eletrônicas e consulte seus clientes."
      header-style=""
      header-class=" text-bold border-top bg-white text-secondary"
    >
    <q-separator class="bg-line q-py-xs"/>
    <div class="q-pa-sm row text-right items-center bg-white">
      <div class="text-center col-md-2 col-xs-12 text-h6 text-bold">
        <span class="text-indigo-8">AQUI</span> e
        <span class="text-blue">AGORA!</span>
      </div>
      <div class="q-pl-md col-md-10 col-xs-12 text-h7 my-font-pop">
        Você <span class="text-blue text-bold">ENCONTRA</span>,<br>
        Diversas <span class="text-blue text-bold">FUNCIONALIDADES</span> para
        <span class="text-secondary text-bold">EMITIR </span>
        <span class="text-blue text-bold">NFEs</span> e
        <span class="text-secondary text-bold">CONSULTAR </span>
        <span class="text-blue text-bold">CLIENTES</span> com mais
        <span class="text-secondary text-bold">SEGURANÇA</span> e
        <span class="text-blue text-bold">FACILIDADE.</span><br>
        Adicione uma
        <span class="text-blue text-bold">NFe</span> agora mesmo, é bem
        <span class="text-secondary text-bold">RÁPIDO</span> e
        <span class="text-blue text-bold">FÁCIL!</span>
      </div>
    </div>
    </q-expansion-item>
  </div>
</template>

<style>
</style>
