
<script>
import { mapState } from 'vuex'
import { Loading, QSpinnerDots } from 'quasar'

export default {
  name: 'ccFetch',
  computed: {
    ...mapState(['global']),
    fetching () {
      if (this.hasFetching()) {
        Loading.show({ message: this.hasFetchingMessage(), spinner: QSpinnerDots })
        return ''
      }
      Loading.hide()
      return ''
    }
  },
  methods: {
    hasFetching () {
      return this.global.fetching
    },
    hasFetchingMessage () {
      return this.global.fetchingMessage
    }
  }
}
</script>

<template>
  <div>
    <div>
      {{fetching}}
    </div>
</div>
</template>

<style>
</style>
