.bg-main
  background linear-gradient(1deg, rgba(227,227,227,1) 2%, rgba(255,255,255,1) 81%);
.bg-panel
  background linear-gradient(0deg, rgba(230,232,233,1) 22%, rgba(245,246,247,1) 88%, rgba(255,255,255,1) 100%);
.bg-line
  background linear-gradient(135deg, #3060AE 0%, #1976D2 100%)

.bg-vortex
  background-image url('~assets/vortex.gif')
  background-position center center
  -moz-background-size cover
  -o-background-size cover
  background-size cover

.bg-underconstruction
  background-image url('~assets/YVPE.gif')
