.color-grad-font
  background linear-gradient(109.67deg, #D000B1 0%, #27293D 100%)
  -webkit-background-clip text
  -webkit-text-fill-color transparent
.bg-color-grad
  background linear-gradient(109.67deg, #D000B1 0%, #27293D 100%)
  -webkit-background-clip text
  -webkit-text-fill-color transparent
