.glow {
  color: rgba(255, 255, 255, .75);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, .40), 0 0 10px rgba(255, 255, 255, .10), 0 0 10px #e60073, 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #e60073;
  }
}

.glow-verde {
  color: positive;
  -webkit-animation: glow-verde 1s ease-in-out infinite alternate;
  -moz-animation: glow-verde 1s ease-in-out infinite alternate;
  animation: glow-verde 1s ease-in-out infinite alternate;
}

@keyframes glow-verde {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, .40), 0 0 10px rgba(255, 255, 255, .10), 0 0 10px green, 0 0 10px green, 0 0 20px green, 0 0 30px green;
  }
}

.glow-amarelo {
  color: positive;
  -webkit-animation: glow-amarelo 1s ease-in-out infinite alternate;
  -moz-animation: glow-amarelo 1s ease-in-out infinite alternate;
  animation: glow-amarelo 1s ease-in-out infinite alternate;
}

@keyframes glow-amarelo {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, .40), 0 0 10px rgba(255, 255, 255, .10), 0 0 10px yellow, 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
  }
}

.glow-vermelho {
  color: negative;
  -webkit-animation: glow-vermelho 1s ease-in-out infinite alternate;
  -moz-animation: glow-vermelho 1s ease-in-out infinite alternate;
  animation: glow-vermelho 1s ease-in-out infinite alternate;
}

@keyframes glow-vermelho {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, .40), 0 0 10px rgba(255, 255, 255, .10), 0 0 10px red, 0 0 10px red, 0 0 20px green, 0 0 30px red;
  }
}
.glow-info {
  color: info;
  -webkit-animation: glow-info 1s ease-in-out infinite alternate;
  -moz-animation: glow-info 1s ease-in-out infinite alternate;
  animation: glow-info 1s ease-in-out infinite alternate;
}

@keyframes glow-info {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, .40), 0 0 10px rgba(255, 255, 255, .10), 0 0 10px blue, 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
  }
}
.glass {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .20);
  backdrop-filter: blur(2px)
}

.copy-box
{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  color: #333333;
  font-family: sans-serif;
}
.copy-box .line
{
  position: absolute;
  background-color: #32BA45;
  box-shadow: 0px 0px 12px #32BA45;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 1em;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .line
{
  border-radius: 0;
  width: 2px;
}
.copy-box .line .scanner
{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}

.copy-box.two .line .scanner
{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 50%;
}
.copy-box .linewait
{
  position: absolute;
  background-color: yellow;
  box-shadow: 0px 0px 12px yellow;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 1em;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .linewait
{
  border-radius: 0;
  width: 2px;
}
.copy-box .linewait .scanner
{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}

.copy-box.two .linewait .scanner
{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 50%;
}
@keyframes scanner-loop
{
  0%
  {
    top: 0;
  }
  50%
  {
    top: 100%;
  }
  100%
  {
    top: 0;
  }
}
.copy-box .inner
{
  padding: 30px;
}

.copy-box .linewar
{
  position: absolute;
  background-color: red;
  box-shadow: 0px 0px 12px red;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 1em;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .linewar
{
  border-radius: 0;
  width: 2px;
}
.copy-box .linewar .scanner
{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 0.5s ease-in-out infinite;
}

.copy-box.two .linewar .scanner
{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 50%;
}
@keyframes scanner-loop
{
  0%
  {
    top: 0;
  }
  50%
  {
    top: 100%;
  }
  100%
  {
    top: 0;
  }
}
.copy-box .inner
{
  padding: 30px;
}

.copy-box .lineinfo
{
  position: absolute;
  background-color: blue;
  box-shadow: 0px 0px 12px blue;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 1em;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .lineinfo
{
  border-radius: 0;
  width: 2px;
}
.copy-box .lineinfo .scanner
{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 2s ease-in-out infinite;
}

.copy-box.two .lineinfo .scanner
{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 50%;
}
@keyframes scanner-loop
{
  0%
  {
    top: 0;
  }
  50%
  {
    top: 100%;
  }
  100%
  {
    top: 0;
  }
}
.copy-box .inner
{
  padding: 30px;
}

.spin {
    transform-origin:center;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.spin-reverse {
    transform-origin:center;
    -webkit-animation:spin 4s linear reverse infinite;
    -moz-animation:spin 4s linear reverse infinite;
    animation:spin 4s linear reverse infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.path {
  stroke-dasharray: 40;
  -webkit-animation: dash 5s linear infinite;
  -moz-animation: dash 5s linear infinite;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.path-reverse {
  stroke-dasharray: 40;
  -webkit-animation: dash-reverse 5s linear reverse infinite;
  -moz-animation: dash-reverse 5s linear reverse infinite;
  animation: dash-reverse 5s linear reverse infinite;
}

@keyframes dash-reverse {
  to {
    stroke-dashoffset: 1000;
  }
}
