.line-blue
  border 5px solid #3CA7D5

.line-green
  border 5px solid #A1C8BA

.line-grey
  border 5px solid #9E9D9E

.line-white
  border 5px solid white

.line-msr
  background linear-gradient(90deg, green 0%, #512da8 20%, rgba(0,0,0,0) 100%)

.line-msr-reverse
  background linear-gradient(90deg, rgba(0,0,0,0) 0%, #512da8 80%, green 100%)

.ponto-style
  position relative
  align-items center
  border-radius 50%
  width 0.5em
  height 0.5em
  background linear-gradient(45.82deg, #8463dd 0%, #3eb7d6 100%)

.ponto-style-white
  position relative
  align-items center
  border-radius 50%
  width 5px
  height 5px
  background white

.ponto-style-grey
  position relative
  align-items center
  border-radius 50%
  width 10px
  height 10px
  background linear-gradient(90deg, white 27.02%, green 68.99%)

.ponto-style-trans
  position relative
  align-items center
  border-radius 50%
  width 5px
  height 5px
  background linear-gradient(45.82deg, rgba(255, 255, 255, 0.0) 25%, rgba(255, 255, 255, 0.6) 100%)
