@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap')

@font-face
  font-family 'Raptor-Sans'
  font-style bold
  font-weight 400
  src url(./fonts/Raptor_Sans.ttf)

@font-face
  font-family 'Montserrat', sans-serif
  font-style normal
  font-weight 400
  src url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap')

@font-face
  font-family 'Poppins', sans-serif
  font-style normal
  font-weight 400
  src url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

.font-raptor-big
  font-family 'Raptor-Sans'
  font-size 2em
  color white
  padding-top 0.2em

.font-raptor
  font-family 'Raptor-Sans'
  font-size 5vmin
  color white
  padding-top 0.2em

.my-font-mont
  font-family 'Montserrat', sans-serif
  font-style normal
  color #222222

.my-font-pop
  font-family 'Poppins', sans-serif
  font-style normal
  line-height 120%
  color #222222
