//fontes------------------------------------------------

.font-raptor-big
  font-family 'Raptor-Sans'
  font-size 2em
  color white
  padding-top 0.2em

.font-raptor
  font-family 'Raptor-Sans'
  font-size 5vmin
  color white
  padding-top 0.2em

.my-font-mont
  font-family 'Montserrat', sans-serif
  font-style normal
  color #222222

.my-font-pop
  font-family 'Poppins', sans-serif
  font-style normal
  line-height 120%
  color #222222
