<script>
import { mapActions, mapGetters } from 'vuex'
import { date } from 'quasar'
import filters from '@mixins/filters'
export default {
  name: 'ccDialogUserCalls',
  mixins: [filters.filters],
  data: () => ({
    dialogCalls: true,
    newCall: false,
    calls: [],
    convertColor: {
      0: 'blue-4',
      1: 'yellow-9',
      2: 'green-5'
    },
    convertIcon: {
      0: 'fas fa-stopwatch',
      1: 'fas fa-spinner',
      2: 'fas fa-check'
    },
    call: {
      userEmail: '',
      userId: '',
      responsibleUserEmail: '',
      responsibleUserId: '',
      type: 'NFSe',
      dateTime: date.formatDate(Date.now(), 'YYYY-MM-DDTHH:mm:ss.SSSZ'),
      status: 0,
      messages: []
    }
  }),
  mounted () {
    this.fetchAllMessages()
  },
  methods: {
    ...mapActions(['getSubCollection', 'setFetching', 'updateSubCollection']),
    ...mapGetters(['currentUser']),
    async fetchAllMessages () {
      try {
        const id = await this.currentUser().userId
        this.setFetching({ fetching: true })
        this.calls = await this.getSubCollection({
          collection: 'users',
          collectionId: id,
          subCollection: 'calls'
        })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    }
  }
}
</script>

<template lang="html">
  <q-dialog class="" :maximized="$q.screen.lt.sm" no-esc-dismiss no-backdrop-dismiss v-model="dialogCalls">
    <q-card flat style="width: 100vw; height: 100vh" class="">
      <div style="font-size: 1.0em;" class="my-font-pop q-mx-md text-grey-9">
        <div class="flex flex-center row q-pa-sm">
          <div class="col-md-10 col-xs-6 text-h6">
            <span class="text-primary my-font-pop text-subtitle1 text-grey-5"> Meus Chamados</span>
          </div>
          <div class="col-md-1 col-xs-6 text-right ">
            <q-btn @click="$router.go(-1)" size="sm" color="negative" flat round dense icon="close" v-close-popup />
          </div>
        </div>
        <q-list v-for="call in calls" :key="call._id" class="q-mt-sm q-mr-sm bg-white">
          <!-- <pre>{{call}}</pre> -->
          <q-separator/>
          <q-item clickable @click="$router.push({ name: 'messages.edit', params: { id: call._id }, query: { userId: call.userId } })" class="">
            <q-item-section class="text-left">
              <q-item-label class="text-bold text-grey-9 text-subtitle1 my-font-pop " lines="3">{{call.type}}</q-item-label>
              <q-item-label class="text-caption text-grey-7" lines="1">{{call.dateTime | formatDate}}</q-item-label>
            </q-item-section>
            <q-item-section class="text-right col-auto">
              <q-icon :name="convertIcon[call.status]" :color="convertColor[call.status]"></q-icon>
            </q-item-section>
          </q-item>
        </q-list>
        <q-separator/>
        <div class="q-my-md justify-center items-center">
          <div class="column q-gutter-md">
            <q-btn @click="$router.push({ name: 'messages.new' })" rounded color="primary" label="Nova Mensagem" padding="10px"
              class="text-weight-bolder text-caption" style="border-radius:10px">
            </q-btn>
          </div>
        </div>
      </div>
    </q-card>
  </q-dialog>
</template>

<style lang="css" scoped>
</style>
