<script>
export default {
  name: 'ccDialogUserService',
  data: () => ({

  }),
  props: {
    dialogService: {
      type: Boolean,
      default: () => false
    },
    service: {
      activityId: '',
      description: ''
    }
  },
  methods: {
    closeAndSaveDialog () {
      this.$emit('closeAndSaveDialog', this.service)
    },
    closeDialog () {
      this.$emit('closeDialog', null)
    }
  }
}
</script>

<template>
  <q-dialog v-model="dialogService" :maximized="$q.screen.lt.sm" no-esc-dismiss no-backdrop-dismiss>
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Incluir serviço</div>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog" />
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row q-col-gutter-md q-mt-sm">
          <div class="col-3">
            <q-input dense color="indigo-8"
                     v-model="service.activityId"
                     label="Código"
                     ref="activityId"
                     name="activityId"
                     class="col-xs-12 col-sm-3">
            </q-input>
          </div>
          <div class="col-9">
            <q-input dense color="indigo-8"
                     v-model="service.description"
                     label="Descrição"
                     ref="description"
                     name="description"
                     class="col-xs-12 col-sm-3">
            </q-input>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right" class="bg-white text-primary">
        <q-btn flat label="Cancelar" @click="closeDialog" />
        <q-btn flat label="Salvar" @click="closeAndSaveDialog"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
