<script>
import ccNotify from './components/alerts'
import ccFetch from './components/spinner'
import { mapActions } from 'vuex'
export default {
  name: 'App',
  components: {
    ccNotify,
    ccFetch
  },
  methods: {
    ...mapActions(['heandleAuthStateChanged'])
  },
  mounted () {
    this.heandleAuthStateChanged()
  }
}
</script>

<template>
  <div id="q-app">
    <router-view />
    <cc-notify/>
    <cc-fetch/>
  </div>
</template>

<style>
</style>
