<script>
import { mapActions, mapGetters } from 'vuex'
import filters from '@mixins/filters'
export default {
  name: 'MainLayout',
  mixins: [filters.filters],
  components: {
  },
  data () {
    return {
      loading: false,
      loadingSignOut: false,
      drawer: false,
      miniState: false
    }
  },
  mounted () {
    this.messagingRefreshToken()
  },
  methods: {
    ...mapGetters(['currentToken', 'currentUser', 'currentMiniState', 'isAdmin']),
    ...mapActions(['signOut', 'setMiniState', 'messagingRefreshToken']),
    drawerClick (e) {
      if (this.miniState) {
        this.miniState = false
        e.stopPropagation()
      }
    },
    doLogout () {
      this.loadingSignOut = true
      setTimeout(() => {
        this.signOut()
        this.loadingSignOut = false
        this.$router.push('/auth')
      }, 1000)
    },
    goToUserApp () {
      this.$router.push('/')
    }
  }
}
</script>

<template>
  <q-layout
    ref="layout"
    view="hHh lpR fFf"
    class="my-font-pop shadow-2 rounded-borders" >
    <q-header elevated class="">
      <q-toolbar style="min-height: 40px" class="bg-primary">
        <q-btn square stretch unelevated  icon="menu" @click="drawer = !drawer" />
        <q-btn stretch unelevated class="col" color="">
          <div class="row items-center">
            <!-- <img style="width: 3em" src="~/assets/quasar-logo-full.svg" class="" /> -->
          </div>
        </q-btn>
        <q-btn-dropdown size="0.8em" color="" stretch unelevated icon="fas fa-user-cog" >
          <div class="q-pa-md">
            <div class="column">
              <div class="text-center">
                <q-btn unelevated round color="secondary" @click="goToUserApp" flat size="" class="border-solid-blue-bold">
                  <q-avatar size="3em" class="q-ma-xs">
                    <img style="" src="~/assets/quasar-logo-full.svg">
                  </q-avatar>
                </q-btn>
              </div>
              <div style="font-size: 1.1em" class="text-center">
                <div class="q-py-sm">
                  {{currentUser().email}}
                </div>
                <q-separator class="q-mb-sm"/>
                <q-item-section class="text-right">
                  <q-item-label caption lines="1">Total de Notas</q-item-label>
                  <q-item-label class="text-h6 text-primary text-bold">1500</q-item-label>
                </q-item-section>
                <q-separator class="q-mt-sm"/>
              </div>
              <div class="text-right">
                <q-btn flat class="q-mt-md" size="sm" :loading="loadingSignOut" @click="doLogout" label="sair" icon="fas fa-power-off" color="negative"/>
              </div>
            </div>
          </div>
        </q-btn-dropdown>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="drawer"
      :width="220"
      show-if-above
      side="left"
      elevated
      :mini="!drawer || miniState"
      content-class=""
    >
    <!-- <router-link to="/">
      <div align="center">
        <img class="q-pa-md q-mt-md w-80" src="../assets/b2t.jpg" />
      </div>
    </router-link> -->
      <q-list class="text-primary">
      </q-list>
      <q-list padding>
        <q-item active-class="my-menu-link" clickable v-ripple to="/dashboard/users">
          <q-item-section avatar>
            <q-icon color="primary" name="fas fa-users" />
          </q-item-section>
          <q-item-section >
            <q-item-label class="icn-menu-color">Usuários</q-item-label>
            <q-item-label caption>Gerenciamento dos Usuários do App</q-item-label>
          </q-item-section>
        </q-item>
        <q-item active-class="my-menu-link" clickable v-ripple to="/dashboard/nfe">
          <q-item-section avatar>
            <q-icon color="primary" name="fas fa-receipt" />
          </q-item-section>
          <q-item-section >
            <q-item-label class="icn-menu-color">Notas</q-item-label>
            <q-item-label caption>Gerenciamento das Notas Emitidas</q-item-label>
          </q-item-section>
        </q-item>
        <q-item active-class="my-menu-link" clickable v-ripple to="/dashboard/chamados">
          <q-item-section avatar>
            <q-icon color="primary" name="fas fa-comment" />
          </q-item-section>
          <q-item-section >
            <q-item-label class="icn-menu-color">Chamados</q-item-label>
            <q-item-label caption>Gerenciamento dos Chamados</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container class="">
      <div class="">
        <q-page padding>
          <transition
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut">
          <router-view />
        </transition>
      </q-page>
      </div>
    </q-page-container>
    <q-footer style="max-height: 30px" class="bg-primary">
      <q-toolbar>
        <q-btn size="8px" class="bt-ft q-mb-md absolute-right" icon="fas fa-feather-alt" stretch flat label="Powered by Piuma" />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<style scoped lang="stylus">
.body
  overflow hidden
</style>
