<script>
export default {
  name: 'devLayout',
  components: {
  },

  data () {
    return {
      openDialog: false
    }
  },
  methods: {

    openRelease () {
      this.openDialog = true
    }
  },
  computed: {
  }
}
</script>
<template>
  <q-layout view="hHh lpR fFr" class="">
    <q-header class="border-bottom-2" elevated>
      <div class="row text-center items-center justify-between">
        <div class="col-md-12 col-xs-12 font-raptor-big">
          #<span class="glow-verde text-green">NEO</span>CYBERPUNKERS🧠
        </div>

        <q-tabs stretch class="col-md-12 col-xs-12 text-accent" align="center">
          <q-route-tab class="glow-verde" to="/emdesenvolvimento" >
            <q-icon class="" size="xs" color="green" name="fas fa-code" />
          </q-route-tab>
        </q-tabs>

      </div>
    </q-header>

    <q-page-container class="bg-primary">
      <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
        <router-view />
      </transition>
<!--
      <q-page-sticky disabled class="" position="bottom-right" :offset="[20, 20]">
        <q-btn icon="fas fa-question" round class="border-solid-grad glow-verde text-green bg-panel" size="1.2em" no-caps ></q-btn>
      </q-page-sticky> -->
    </q-page-container>
    <q-footer class="">
      <q-separator class="border-bottom-1" color="accent"/>
      <q-tabs stretch class="col-md col-xs-12 text-accent" align="center">
        <q-route-tab class="q-my-md" to="/neoflowers" >
          <img style="width:20em" src="~/assets/logo-neocyberpunker.svg" class="" />
        </q-route-tab>
        <!--
        <div class="absolute-center flex flex-center">
          <q-btn
            to="/"
            flat
            size="1.3em"
            round
            color="accent"
            class="glow-info border-solid-grad-2 bg-primary absolute over-top-1 text-accent"
            style="transform: translateY(-52px);">
            <q-icon size="md" name="fas fa-expand-arrows-alt"></q-icon>
          </q-btn>
        </div>-->
      </q-tabs>
    </q-footer>

  </q-layout>
</template>
<style lang="stylus" scoped>
  .blink
    color negative
    -webkit-animation: glow-vermelho 0.2s ease-in-out infinite alternate !important
    -moz-animation: glow-vermelho 0.2s ease-in-out infinite alternate !important
    animation: glow-vermelho 0.2s ease-in-out infinite alternate !important
</style>
