<script>
import { mapActions, mapGetters } from 'vuex'
import filters from '@mixins/filters'
import { firebaseAuth } from 'boot/firebase'

export default {
  name: 'MainLayout',
  mixins: [filters.filters],
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      loadingSignOut: false,
      loading: false,
      drawer: false,
      miniState: true,
      tab: this.$route.name,
      photoURL: firebaseAuth.currentUser.photoURL,
      displayName: firebaseAuth.currentUser.displayName,
      cliquei: '',
      clicado: ''
    }
  },
  async mounted () {
    this.messagingRefreshToken()
    await this.getClicks()
  },
  computed: {
  },
  methods: {
    ...mapGetters(['currentToken', 'currentUser', 'currentMiniState', 'isAdmin']),
    ...mapActions(['setMessage', 'setFetching', 'setMiniState', 'getById', 'signOut', 'messagingRefreshToken', 'getSubCollection', 'postCreateSubCollection']),
    async getClicks () {
      try {
        const id = this.currentUser().userId
        this.loading = true
        this.cliquei = await this.getSubCollection({ collection: 'users', collectionId: id, subCollection: 'cliquei' })
        this.cliquei = this.cliquei.length
        this.clicado = await this.getSubCollection({ collection: 'users', collectionId: id, subCollection: 'clicado' })
        this.clicado = this.clicado.length
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    notifyCompleteRegister (usr) {
      if ((!(usr.loginPref || '').length ||
        !(usr.passPref || '').length ||
        // !(usr.address.street || '').length ||
        // !(usr.address.neighborhood || '').length ||
        // !(usr.address.city || '').length ||
        // !(usr.address.state || '').length ||
        // !(usr.address.zipCode || '').length ||
        // !(usr.address.number || '').length ||
        !(usr.phoneNumber1 || '').length)) {
        this.setMessage({
          type: 'warning',
          message: 'Conclua o seu cadastro antes de continuar'
        })
        return false
      }
      if (usr.status === 1) {
        this.setMessage({
          type: 'warning',
          message: 'Estamos analisando as informações do seu cadastro'
        })
        return false
      }
      return true
    },
    async onClick (type) {
      if (type === 2) {
        this.$router.push('/clientes/buscar')
      } else if (type === 3) {
        const currentUser = this.currentUser()
        if (this.notifyCompleteRegister(currentUser)) {
          this.$router.push({ name: 'profile.index' })
        }
      }
    },
    goToClients () {
      this.tab = 'clients.index'
      this.$router.push('/clientes')
    },
    goToClicks () {
      this.$router.push({ name: 'clicks.index' })
    },
    drawerClick (e) {
      // if in "mini" state and user
      // click on drawer, we switch it to "normal" mode
      if (this.miniState) {
        this.miniState = false

        // notice we have registered an event with capture flag;
        // we need to stop further propagation as this click is
        // intended for switching drawer to "normal" mode only
        e.stopPropagation()
      }
    },
    doLogout () {
      this.loadingSignOut = true
      setTimeout(() => {
        this.signOut()
        this.loadingSignOut = false
        this.$router.push('/auth')
      }, 1000)
    }
  }
}
</script>

<template>
  <q-layout
    ref="layout"
    view="hHh lpR fFr"
    class="shadow-2 rounded-borders" >
    <q-header class="border-bottom-2" elevated>
      <div class="row text-center items-center">
        <div class="col-md-1 col-xs-2 text-right q-pt-xs">
          <div class="" style="width: 8vh; float: right;">
            <svg class="" viewBox="0 0 555 615" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g class="spin" filter="url(#filter0_d)">
            <path class="path" stroke="white" stroke-width="4"  fill-rule="evenodd" clip-rule="evenodd" d="M471.884 194.683L472 194.75L471.884 194.817V420.05L277.5 532.733V532.999L82.9998 420.25L82.9998 194.75L82.9998 194.75L277.5 82L471.77 194.617L471.884 194.55V194.683Z" fill="#B7F8DD" fill-opacity="0.61"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M276.031 81.1495C276.842 80.6793 278.157 80.6793 278.968 81.1495L291.125 88.1964L288.188 89.8989L277.5 83.7034L266.812 89.8989L263.875 88.1963L276.031 81.1495ZM315.437 102.29L339.75 116.384L336.813 118.086L312.5 103.993L315.437 102.29ZM364.062 130.477L388.375 144.571L385.438 146.274L361.125 132.18L364.062 130.477ZM412.687 158.665L437 172.759L434.063 174.461L409.75 160.368L412.687 158.665ZM473.353 193.832L473.468 193.899C474.279 194.369 474.279 195.132 473.468 195.602L473.353 195.669V207.792L470.416 209.495V197.371L461.312 202.649L461.076 202.512L459.728 203.294V201.73L458.375 200.946L459.728 200.162V199.9L468.837 194.619L458.375 188.555L461.312 186.852L471.774 192.917L471.884 192.853C472.695 192.383 473.353 192.761 473.353 193.699V193.832ZM215.25 116.384L239.563 102.29L242.5 103.993L218.187 118.086L215.25 116.384ZM437 216.742L412.687 230.836L412.451 230.699L411.103 231.481V229.918L409.75 229.134L411.103 228.349V228.087L435.415 213.993V215.824L437 216.742ZM166.625 144.571L190.938 130.477L193.875 132.18L169.562 146.274L166.625 144.571ZM388.375 244.93L364.062 259.024L363.826 258.887L362.478 259.669V258.105L361.125 257.321L362.478 256.537V256.275L386.79 242.181V244.011L388.375 244.93ZM118 172.759L142.313 158.665L145.25 160.368L120.937 174.461L118 172.759ZM339.75 273.117L315.437 287.211L315.201 287.074L313.853 287.856V286.293L312.5 285.508L313.853 284.724V284.462L338.165 270.368V272.199L339.75 273.117ZM81.5314 193.899L81.5315 193.899C81.5316 192.964 82.1863 192.585 82.9949 193.051L93.6876 186.852L96.6247 188.555L85.9369 194.751L96.6247 200.946L95.1562 201.797V203.495L93.6923 202.646L93.6876 202.649L84.4685 197.304L84.4685 209.696L81.5315 207.993L81.5315 195.602L81.5314 195.602C80.7203 195.132 80.7203 194.369 81.5314 193.899ZM291.125 301.305L278.968 308.352L278.968 308.352V322.446L277.269 321.46L275.916 322.245V308.284L263.875 301.305L265.344 300.453V298.757L266.807 299.605L266.812 299.602L277.278 305.669C277.313 305.646 277.348 305.623 277.384 305.603L289.54 298.556V300.386L291.125 301.305ZM142.313 230.836L118 216.742L119.469 215.891V214.194L120.932 215.043L120.937 215.04L145.25 229.134L143.781 229.985V231.682L142.317 230.833L142.313 230.836ZM190.938 259.024L166.625 244.93L168.094 244.078V242.382L169.557 243.23L169.562 243.227L193.875 257.321L192.406 258.172V259.869L190.942 259.021L190.938 259.024ZM239.563 287.211L215.25 273.117L216.719 272.266V270.569L218.182 271.418L218.187 271.415L242.5 285.508L241.031 286.36V288.057L239.567 287.208L239.563 287.211ZM278.968 350.633V378.82L277.269 377.835L275.916 378.62V350.432L276.031 350.365V348.93L277.269 349.648L278.853 348.73V350.566L278.968 350.633ZM278.968 407.008V435.195L277.269 434.21L275.916 434.994V406.807L276.031 406.74V405.305L277.269 406.023L278.853 405.104V406.941L278.968 407.008ZM278.968 463.383V491.57L277.269 490.585L275.916 491.369V463.182L276.031 463.115V461.68L277.269 462.398L278.853 461.479V463.316L278.968 463.383ZM278.968 533.578V533.851C278.968 534.789 278.311 535.167 277.5 534.697L277.264 534.56C276.547 534.909 275.976 534.578 275.92 533.781L265.344 527.65V524.256L275.916 530.385V519.557L276.031 519.49V518.055L277.269 518.772L278.853 517.854V519.691L278.968 519.758V530.184L289.54 524.055V527.449L278.968 533.578ZM241.031 513.557L216.719 499.463V496.069L241.031 510.162V513.557ZM192.406 485.369L168.094 471.275V467.881L192.406 481.975V485.369ZM143.781 457.182L119.469 443.088V439.694L143.781 453.788V457.182ZM95.1562 428.994L83 421.947C82.1889 421.477 81.5314 420.336 81.5314 419.399L81.5314 405.305L84.4685 407.008L84.4685 419.405L95.1562 425.6V428.994ZM81.5315 264.368L81.5315 236.181L84.4685 237.883L84.4685 266.071L81.5315 264.368ZM81.5315 320.743L81.5315 292.556L84.4685 294.258L84.4685 322.446L81.5315 320.743ZM81.5314 377.118L81.5315 348.93L84.4685 350.633L84.4685 378.82L81.5314 377.118ZM473.353 264.167V235.98L470.416 237.682V265.87L473.353 264.167ZM473.353 320.542V292.355L470.416 294.057V322.245L473.353 320.542ZM473.353 376.917V348.73L470.416 350.432V378.62L473.353 376.917ZM473.353 419.198V405.104L470.416 406.807V419.204L459.728 425.399V428.793L471.884 421.746C472.695 421.276 473.353 420.135 473.353 419.198ZM411.103 456.981L435.415 442.887V439.493L411.103 453.587V456.981ZM362.478 485.168L386.79 471.074V467.681L362.478 481.774V485.168ZM313.853 513.356L338.165 499.262V495.868L313.853 509.962V513.356Z" fill="white" fill-opacity="0.5"/>
            </g>
            <g class="spin-reverse" filter="url(#filter1_d)">
            <path class="path" stroke="white" stroke-width="4" fill-rule="evenodd" clip-rule="evenodd" d="M370.545 144.596L370.489 144.5L370.434 144.596H184.345L91.1907 306.499H277.39L277.391 306.5H91.1911L184.346 468.403H370.655L370.544 468.21L463.644 306.403L370.6 144.691L370.654 144.596H370.545Z" fill="#B7F8DD" fill-opacity="0.61"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M371.337 143.028C370.869 142.215 370.11 142.215 369.642 143.028L369.587 143.124H362.186L360.492 146.069H367.892L364.984 151.123L365.092 151.31L364.297 152.692H365.887L366.679 154.068L367.47 152.692H367.697L370.602 147.641L374.3 154.068L375.994 151.123L372.297 144.697L372.354 144.597C372.822 143.784 372.44 143.124 371.501 143.124H371.392L371.337 143.028ZM394.625 183.504L385.31 167.313L383.615 170.258L392.931 186.448L394.625 183.504ZM413.256 215.884L403.941 199.694L402.246 202.639L411.562 218.829L413.256 215.884ZM431.887 248.265L422.572 232.074L420.877 235.019L430.193 251.209L431.887 248.265ZM450.518 280.645L441.202 264.455L439.508 267.4L448.824 283.59L450.518 280.645ZM464.491 304.931L459.833 296.835L458.139 299.78L461.95 306.403L458.139 313.026L459.833 315.97L464.491 307.875C464.959 307.062 464.959 305.744 464.491 304.931ZM355.669 167.313L346.354 183.504L346.461 183.69L345.666 185.072H347.256L348.048 186.448L348.839 185.072H349.066L358.381 168.882H356.572L355.669 167.313ZM441.202 348.351L450.518 332.161L448.824 329.216L439.508 345.406L441.202 348.351ZM337.038 199.694L327.723 215.884L327.83 216.071L327.035 217.453H328.625L329.417 218.829L330.209 217.453H330.435L339.75 201.263H337.941L337.038 199.694ZM422.572 380.732L431.887 364.541L430.193 361.597L420.877 377.787L422.572 380.732ZM318.407 232.074L309.092 248.265L309.199 248.451L308.404 249.834H309.994L310.786 251.209L311.578 249.834H311.804L321.119 233.643H319.31L318.407 232.074ZM403.941 413.112L413.256 396.922L411.562 393.977L402.246 410.167L403.941 413.112ZM299.776 264.455L290.461 280.645L290.568 280.832L289.773 282.214H291.363L292.155 283.59L292.947 282.214H293.173L302.488 266.024H300.679L299.776 264.455ZM385.31 445.493L394.625 429.302L392.931 426.358L383.615 442.548L385.31 445.493ZM281.145 296.835L276.488 304.931C276.47 304.962 276.452 304.994 276.435 305.027H269.031L269.031 305.028H267.338L268.184 306.5L267.337 307.972H269.031L269.032 307.973H276.544L281.145 315.97L281.936 314.596H283.858L279.2 306.501L279.2 306.5L279.2 306.499L283.857 298.404H282.048L281.145 296.835ZM372.241 468.206L375.994 461.683L374.3 458.738L370.547 465.261L367.697 460.308H367.582L366.679 458.738L365.775 460.308H364.297L365.036 461.593L364.984 461.683L368.004 466.931H360.492L362.187 469.876H369.702C370.152 470.559 370.826 470.559 371.276 469.876H371.502C372.441 469.876 372.823 469.217 372.355 468.403L372.241 468.206ZM290.461 332.161L299.776 348.351L300.567 346.976H302.489L293.173 330.786H293.058L292.155 329.216L291.252 330.786H289.774L290.513 332.071L290.461 332.161ZM309.092 364.541L318.407 380.732L319.198 379.357H321.12L311.804 363.167H311.689L310.786 361.597L309.883 363.167H308.405L309.144 364.451L309.092 364.541ZM327.723 396.922L337.038 413.112L337.829 411.737H339.751L330.435 395.547H330.32L329.417 393.977L328.514 395.547H327.035L327.775 396.832L327.723 396.922ZM346.354 429.302L355.669 445.493L356.46 444.118H358.382L349.066 427.928H348.951L348.048 426.358L347.144 427.928H345.666L346.405 429.212L346.354 429.302ZM182.645 144.597C183.113 143.784 184.254 143.124 185.192 143.124H194.508L192.814 146.069H185.198L181.387 152.692H177.988L182.645 144.597ZM213.139 143.124H231.77L230.075 146.069H211.444L213.139 143.124ZM250.401 143.124H269.032L267.337 146.069H248.706L250.401 143.124ZM287.662 143.124H306.293L304.599 146.069H285.968L287.662 143.124ZM324.924 143.124H343.555L341.861 146.069H323.23L324.924 143.124ZM159.357 185.072L168.672 168.882H172.072L162.757 185.072H159.357ZM140.726 217.453L150.041 201.263H153.441L144.126 217.453H140.726ZM122.095 249.834L131.41 233.643H134.81L125.495 249.834H122.095ZM103.464 282.214L112.779 266.024H116.179L106.864 282.214H103.464ZM90.3373 305.028C89.4038 305.031 89.0249 305.689 89.4907 306.5C89.024 307.311 89.4032 307.969 90.3378 307.972L94.149 314.596H97.5488L93.7383 307.973H101.354L100.506 306.5L101.353 305.027H93.7378L97.5484 298.404H94.1486L90.3373 305.028ZM119.984 305.027L119.984 305.028H118.29L119.137 306.5L118.29 307.972H119.984L119.985 307.973H138.616L137.768 306.5L138.615 305.027H119.984ZM157.246 305.027L157.245 305.028H155.552L156.399 306.5L155.552 307.972H157.246L157.247 307.973H175.877L175.03 306.5L175.877 305.027H157.246ZM194.508 305.027L194.507 305.028H192.814L193.661 306.5L192.814 307.972H194.508L194.508 307.973H213.139L212.292 306.5L213.139 305.027H194.508ZM231.77 305.027L231.769 305.028H230.076L230.922 306.5L230.075 307.972H231.77L231.77 307.973H250.401L249.553 306.5L250.401 305.027H231.77ZM343.556 469.876H324.925L323.23 466.931H341.861L343.556 469.876ZM306.294 469.876H287.663L285.969 466.931H304.6L306.294 469.876ZM269.032 469.876H250.401L248.707 466.931H267.338L269.032 469.876ZM231.77 469.876H213.139L211.445 466.931H230.076L231.77 469.876ZM194.508 469.876H185.193C184.254 469.876 183.114 469.217 182.646 468.403L177.988 460.308H181.388L185.199 466.931H192.814L194.508 469.876ZM112.78 346.976L103.464 330.786H106.864L116.18 346.976H112.78ZM131.411 379.357L122.095 363.167H125.495L134.811 379.357H131.411ZM150.042 411.737L140.726 395.547H144.126L153.442 411.737H150.042ZM168.673 444.118L159.357 427.928H162.757L172.072 444.118H168.673Z" fill="white" fill-opacity="0.5"/>
            </g>
            <g filter="url(#filter2_d)">
            <circle cx="276.5" cy="306.5" r="117.5" fill="white"/>
            <ellipse cx="275.989" cy="305.993" rx="47.5109" ry="47.5108" fill="#443CA4"/>
            <ellipse cx="291.316" cy="290.668" rx="11.75" ry="11.75" fill="url(#paint0_linear)" fill-opacity="0.58"/>
            <ellipse cx="276.5" cy="307.522" rx="118.522" ry="118.522" fill="#2CEA9A" fill-opacity="0.34"/>
            <ellipse cx="336.783" cy="246.732" rx="26.5652" ry="27.0761" fill="url(#paint1_linear)" fill-opacity="0.83"/>
            <ellipse cx="276.5" cy="306.505" rx="19.413" ry="19.413" fill="#443CA4"/>
            <ellipse cx="282.631" cy="296.286" rx="5.10869" ry="5.10869" fill="white"/>
            <ellipse cx="276.5" cy="306.505" rx="81.7391" ry="81.7391" fill="#2CEA9A" fill-opacity="0.37"/>
            <path d="M325.544 271.764C325.544 280.228 318.682 287.09 310.218 287.09C301.754 287.09 294.892 280.228 294.892 271.764C294.892 263.299 301.754 256.438 310.218 256.438C318.682 256.438 325.544 263.299 325.544 271.764Z" fill="url(#paint2_linear)" fill-opacity="0.47"/>
            </g>
            <defs>
            <filter id="filter0_d" x="0.923096" y="0.796875" width="553.154" height="614.102" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="40"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.3 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <filter id="filter1_d" x="14" y="34" width="527" height="545" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="15"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <filter id="filter2_d" x="127.978" y="159" width="297.043" height="297.043" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="15"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear" x1="297.778" y1="280.68" x2="281.916" y2="300.068" gradientUnits="userSpaceOnUse">
            <stop stop-color="#F8F8F8" stop-opacity="0"/>
            <stop offset="1" stop-color="#F8F8F8"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="352.109" y1="228.852" x2="317.88" y2="267.167" gradientUnits="userSpaceOnUse">
            <stop stop-color="#F8F8F8"/>
            <stop offset="1" stop-color="#F8F8F8" stop-opacity="0.58"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="313.27" y1="255.671" x2="297.19" y2="280.568" gradientUnits="userSpaceOnUse">
            <stop stop-color="#F8F8F8" stop-opacity="0"/>
            <stop offset="1" stop-color="#F8F8F8"/>
            </linearGradient>
            </defs>
            </svg>
          </div>
        </div>

        <div style="font-size: 4.7vh;" class="q-pb-xs q-pl-sm col-md text-left col-xs-10 font-raptor-big">
          <span class="glow-verde text-green">NEO</span>CYBERPUNKERS
        </div>
        <q-separator vertical inset color="accent" class=""/>
        <q-item class="q-mx-sm text-left col-md-3 col-xs">
          <div>
            <q-btn unelevated round color="green" flat style="position: relative" size="md" class="border-solid-yellow-bold">
              <q-avatar size="4em" class="bg-white q-ma-xs">
                <img style="" :src="photoURL">
              </q-avatar>
            </q-btn>
          </div>
          <q-item-section class="col-md col-xs q-pl-md text-green">
              <q-item-label class="text-bold text-h6">{{ displayName }}</q-item-label>
              <q-item-label style="font-size: 1.2em;" class="text-accent text-h7">SP, Limeira</q-item-label>
          </q-item-section>

        </q-item>
        <q-tabs stretch class="desktop-only col-md-4 col-xs-12 text-accent" >
          <q-route-tab class="col-4" to="/links" >
            <q-item-label class="text-bold text-h7 align-items-center row"><span class="q-pr-sm" style="font-size:1.8em;">🚀</span>LINKS</q-item-label>
            <q-item-label class="text-bold text-h6 text-white text-lowercase">3</q-item-label>
          </q-route-tab>
          <q-route-tab class="col-4" to="/clickei" >
            <q-item-label class="text-bold text-h7 align-items-center row"><span class="q-pr-sm" style="font-size:1.8em;">👆🏼</span>CLICKEI</q-item-label>
            <q-item-label class="text-bold text-h6 text-white text-lowercase">{{cliquei}}</q-item-label>
          </q-route-tab>
          <q-route-tab class="col-4" to="/clickado" >
            <q-item-label class="text-bold text-h7 align-items-center row"><span class="q-pr-sm" style="font-size:1.8em;">👇🏼</span>CLICKADO</q-item-label>
            <q-item-label class="text-bold text-h6 text-white text-lowercase">{{clicado}}</q-item-label>
          </q-route-tab>

        </q-tabs>

        <div class="col-md-auto col-xs-2 text-center">
          <q-btn round class="q-ma-sm gt-sm glow-verde" color="positive" flat icon="menu" @click="miniState = !miniState" />
          <q-btn round class="lt-md glow-verde" color="positive" flat icon="menu" @click="drawer = !drawer" />
        </div>

        <q-tabs stretch class="mobile-only col-md-4 col-xs-12 text-accent" >
          <q-route-tab class="col" to="/links" >
              <q-item-label class="text-bold text-h7 align-items-center row"><span class="q-pr-sm" style="font-size:1.8em;">🚀</span>LINKS</q-item-label>
              <q-item-label class="text-bold text-h6 text-white text-lowercase">3</q-item-label>
          </q-route-tab>
          <q-route-tab class="col" to="/clickei" >
            <q-item-label class="text-bold text-h7 align-items-center row"><span class="q-pr-sm" style="font-size:1.8em;">👆🏼</span>CLICKEI</q-item-label>
            <q-item-label class="text-bold text-h6 text-white text-lowercase">{{cliquei}}</q-item-label>
          </q-route-tab>
          <q-route-tab class="col" to="/clickado" >
            <q-item-label class="text-bold text-h7 align-items-center row"><span class="q-pr-sm" style="font-size:1.8em;">👇🏼</span>CLICKADO</q-item-label>
            <q-item-label class="text-bold text-h6 text-white text-lowercase">{{clicado}}</q-item-label>
          </q-route-tab>

        </q-tabs>

      </div>
    </q-header>
    <q-drawer
      v-model="drawer"
      show-if-above
      side="right"
      :mini="!drawer || miniState"
      content-class="border-menu text-green bg-primary"
    >
      <q-scroll-area class="fit">
        <q-list class="bg-primary text-bold">

          <q-item to="/" active-class="q-item-no-link-highlighting">
            <q-item-section avatar>
              <q-icon name="fas fa-check">
                <q-badge class="" color="red" floating>3</q-badge>
              </q-icon>
            </q-item-section>
            <q-item-section >
              <q-item-label lines="1">SEJAM BEM-VINDOS!</q-item-label>
              <q-item-label class="text-green" caption>NeoCyberpunkers ©</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator class="border-bottom-2"/>
          <q-item to="/quemsomos" active-class="q-item-no-link-highlighting">
            <q-item-section class="glow-verde" avatar>
              <q-icon name="fas fa-user-secret"/>
            </q-item-section>
            <q-item-section >
              <q-item-label class=""><span class="text-accent">#MEU</span>PERFIL</q-item-label>
              <q-item-label class="text-green" caption>Quem somos?</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator class="border-bottom-2"/>

          <q-item active-class="q-item-no-link-highlighting">
            <q-btn style="width: 100%" flat :loading="loadingSignOut" @click="doLogout" class="" size="sm" color="negative">
                <q-item-section avatar>
                  <q-icon name="fas fa-door-open"/>
                </q-item-section>
                <q-item-section class="text-left">
                  <q-item-label lines="1">Até breve...</q-item-label>
                  <q-item-label class="text-negative" caption>NeoCyberpunkers ©</q-item-label>
                </q-item-section>
            </q-btn>
          </q-item>
          <q-separator class="border-bottom-2"/>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-page-container class="bg-primary">
      <q-page padding>
        <transition
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut">
        <router-view />
        </transition>
      </q-page>
    </q-page-container>
    <q-footer class="bg-primary">
      <q-separator class="border-bottom-2"/>
      <q-tabs stretch active-bg-color=""
              :value="$route.name"
              class="row shadow-1 text-accent"
              ref="qtab"
              >
        <q-tab @click="goToClicks" name="clicks.index" class="q-py-xs col-6">

          <div class="items-center row text-green text-bold glow-verde">
            <q-badge color="red" floating>122</q-badge>
            <span style="font-size: 2em;" class="q-mr-sm">🌎</span>CLICKS
          </div>

        </q-tab>
        <q-separator vertical inset color="accent" class=""/>
        <q-tab @click="goToClients" name="clients.index" class="q-py-xs col-6">
          <div class="items-center row text-green text-bold glow-verde">
            <q-badge color="red" floating>122</q-badge>
            <span style="font-size: 2em;" class="q-mr-sm">⚖️</span>RANKING
          </div>
        </q-tab>
      </q-tabs>
      <div class="flex flex-center row">
        <!--
        <q-btn
            v-if="$route.name === 'profile.index'"
            @click="onClick(3)"
            size="1.5em"
            round
            color="primary"
            class="glow-info border-solid-grad-2 bg-primary absolute over-top-1 text-accent"
            style="transform: translateY(-85px)">
          <div class="column items-center">
            <q-icon size="0.8em" color="white" name="fas fa-receipt" ></q-icon>
            <span style="font-size:0.5em; line-height:240%" class="text-weight-bolder text-white my-font-pop">Nova</span>
          </div>
        </q-btn> -->
        <q-btn
          v-if="$route.name === 'clicks.index'"
          @click="onClick(2)"
          size="1.5em"
          round
          color="primary"
          class="border-solid-grad-2 bg-primary absolute over-top-1 text-accent"
          style="transform: translateY(-65px)">
          <div class="column items-center">
            <q-icon size="0.8em" color="white" name="fas fa-search" ></q-icon>
            <span style="font-size:0.5em; line-height:240%" class="text-weight-bolder text-white my-font-pop">Buscar</span>
          </div>
        </q-btn>
        <q-btn
          v-else
          @click="onClick(2)"
          size="1.5em"
          round
          color="primary"
          class="border-solid-grad-2 bg-primary absolute over-top-1 text-accent"
          style="transform: translateY(-65px)">
          <div class="column items-center">
            <span class="" style="font-size:1.3em;">🚀</span>
            <span style="font-size:0.5em;" class="q-pb-sm text-weight-bolder text-white my-font-pop">Enviar</span>
          </div>
        </q-btn>
      </div>
    </q-footer>
  </q-layout>
</template>

<style lang="css" scoped>
.ft-style {
  height: 35px;
  margin: auto;
}
.bt-ft {
  height: 35px;
  vertical-align: middle;
}
.top-menu-color {
  background: linear-gradient(to right, rgb(54,0,75,1) 20%, rgb(174,1,122,1) 80%);
}
.header-user-role{
  color: white;
  font-size:100%
}
.btn-close {
  top: 10%;
  left: 275px;
}
.pad {
  padding-top: 8px;
}
.icn-menu-color {
  color: #36004b
}
</style>
