<script>
// import ccMyClients from './my-clients'
import { mapActions, mapGetters } from 'vuex'
import { firebaseAuth } from 'boot/firebase'
export default {
  name: 'ccClickado',
  components: {
    // ccMyClients
  },
  data () {
    return {
      createdLinks: '',
      toSearch: '',
      items: [],
      photoURL: firebaseAuth.currentUser.photoURL
    }
  },
  mounted () {
    this.fetchAllByUserId()
  },
  computed: {
    search () {
      if (!this.toSearch) return this.items
      return this.items.filter(cur => {
        return cur.name.indexOf(this.toSearch.toString().toUpperCase()) !== -1
      })
    }
  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['setMessage', 'setFetching', 'getSubCollection', 'postCreateSubCollection']),
    async fetchAllByUserId () {
      try {
        const id = this.currentUser().userId
        this.setFetching({ fetching: true })
        this.items = await this.getSubCollection({ collection: 'users', collectionId: id, subCollection: 'links' })
        if (!this.items.length) {
          const linkSave = {
            url1: '#01',
            url2: '#02',
            url3: '#03'
          }
          try {
            this.setFetching({ fetching: true })
            await this.postCreateSubCollection({
              collection: 'users',
              collectionId: this.currentUser().userId,
              subCollection: 'links',
              fields: linkSave
            })
            this.setMessage({ type: 'success', message: 'Salvo com sucesso' })
            this.$emit('saveComplete', {})
          } catch (e) {
            console.log(e)
          } finally {
            this.setFetching({ fetching: false })
          }
        }
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    showFilterDialog (tab) {
      this.$q.dialog({
        title: '<span class="my-font-pop text-subtitle1 text-grey-5">Buscar Cliente</span>',
        position: 'top',
        class: 'q-pa-sm',
        html: true,
        ok: {
          icon: 'fas fa-filter',
          flat: true,
          size: '0.6em',
          label: 'filtrar',
          color: 'primary'
        },
        cancel: {
          icon: 'fas fa-times-circle',
          flat: true,
          size: '0.6em',
          label: 'limpar',
          color: 'primary'
        },
        prompt: {
          maxlength: 40,
          model: this.toSearch,
          type: 'text' // optional
        }
      }).onOk(data => {
        this.toSearch = data
      }).onCancel(data => {
        this.toSearch = ''
      })
    }
  }
}
</script>

<template>

  <div class="">
    <!--
    <q-header class="bg-white">
      <q-toolbar class="bg-white">
        <q-toolbar-title class="my-font-pop text-bold">
          <q-btn icon="fas fa-cog" flat class="text-primary" size="xs" @click="$router.push('/config')" >
             <q-badge v-if="!currentUser().loginPref || !currentUser().passPref" color="red-4" floating>!</q-badge>
          </q-btn>
        </q-toolbar-title>
        <q-btn flat round icon="fas fa-filter" size="xs" color="black" @click="showFilterDialog" />
      </q-toolbar>
    </q-header>
<cc-my-clients :items="search"/>
  -->
  <div>
    <div class="my-font-mont text-center">
      <div class="align-items-center row col-md-8 col-xs-11 q-px-lg text-weight-bolder text-white text-left" style="font-size:2em;">
        <div class="col-12">
          <span class="q-pr-sm" style="font-size:1.2em;">👇🏼</span>Clickado
        </div>
      </div>
      <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
        <q-btn fab icon="keyboard_arrow_up" color="primary" />
      </q-page-scroller>
    </div>
  </div>
  </div>
</template>
<style css>

.q-field--outlined .q-field__control:before {
    border: 2px solid #512da8 !important;
}

.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
    font-weight: 400;
    line-height: 28px;
    font-size: 1.5em;
    letter-spacing: 0.00937em;
    text-decoration: inherit;
    text-transform: inherit;
    border: none;
    border-radius: 0;
    background: none;
    color: white;
    outline: 0;
    padding: 6px 0;
}
</style>
