<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'ccClicks',
  components: {
  },
  data: () => ({
    AllClicks: '',
    AllUsers: [],
    todosClicks: [],
    values: [],
    userLinks: []
  }),
  async mounted () {
    await this.listUsers()
  },
  computed: {

  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['getByParameter', 'postCreateSubCollection', 'setMessage', 'setFetching', 'getSubCollection', 'getAll']),
    async listUsers () {
      try {
        this.setFetching({ fetching: true })
        this.AllUsers = await this.getByParameter({
          collection: 'users',
          field: 'userId',
          parameter: '!=',
          value: this.currentUser().userId
        })
        this.AllUsers.forEach(res => {
          const userId = res._id
          this.AllClicks = this.getSubCollection({ collection: 'users', collectionId: userId, subCollection: 'links' })
          this.todosClicks.push(this.AllClicks)
        })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
      Promise.all(this.todosClicks).then(values => {
        this.userLinks = values
      })
    },
    async openLinks (click) {
      if (!click) return
      window.open(`${click[0].url1}`, '_blank')
      window.open(`${click[0].url2}`, '_blank')
      window.open(`${click[0].url3}`, '_blank')
      this.setFetching({ fetching: true })
      await this.cliquei(click)
      await this.clicado(click)
      this.$emit('getClicks')
    },
    async cliquei (click) {
      if (!click) return
      this.setFetching({ fetching: true })
      const cliquei = {
        data: new Date(),
        idUserCliquei: `${click[0].idUser}`,
        links: '3'
      }
      try {
        this.setFetching({ fetching: true })
        await this.postCreateSubCollection({
          collection: 'users',
          collectionId: this.currentUser().userId,
          subCollection: 'cliquei',
          fields: cliquei
        })
        this.setMessage({ type: 'success', message: 'Salvo com sucesso' })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    async clicado (click) {
      if (!click) return
      this.setFetching({ fetching: true })
      const clicado = {
        data: new Date(),
        idUserClicado: this.currentUser().userId,
        links: '3'
      }
      try {
        this.setFetching({ fetching: true })
        await this.postCreateSubCollection({
          collection: 'users',
          collectionId: `${click[0].idUser}`,
          subCollection: 'clicado',
          fields: clicado
        })
        this.setMessage({ type: 'success', message: 'Salvo com sucesso' })
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    }
  }
}
</script>

<template>
  <div class="">
    <q-page class="">
      <div class="my-font-mont text-center text-white">
        <div class="align-items-center row col-md-8 col-xs-11 q-px-lg text-weight-bolder text-white text-left" style="font-size:2em;">
          <div class="col-12">
            <span class="q-pr-sm" style="font-size:1.2em;">🌎</span>Clicks
          </div>
        </div>
        <div class="align-items-center row col-md-8 col-xs-12 q-px-lg text-weight-bolder text-white text-left" style="font-size:3vmax;">
          <div class="q-pt-sm">
            Rede de <span class=" glow-verde text-green">clicks</span> disponíveis
          </div>
        </div>
        <br />
        <div v-for="click in userLinks" :key="click._id">
          <div class="border-solid-grad col-md-12 col-xs-12 q-mx-md">
            <div class="row flex justify-between items-center q-pa-xs">
              <div class="text-center col-md col-xs">
                <q-item class="text-left">
                  <q-btn unelevated round color="green" flat style="position: relative" size="md" class="border-solid-yellow-bold">
                    <q-avatar size="3em" class="q-ma-xs">
                      <img style="" src="~/assets/neo-dev.svg">
                    </q-avatar>
                  </q-btn>
                  <q-item-section class="q-pl-md text-green">
                      <q-item-label class="text-bold text-h6">???</q-item-label>
                  </q-item-section>

                </q-item>
              </div>
              <q-card-actions class="col-xs col-md-auto justify-between">
                <q-btn size="md" class="q-pa-xs bg-panel" >
                  <div class="column" style="font-size: 2vh;">
                    <q-item-label class="text-bold text-accent row items-center "><span class="q-pr-sm">🚀</span>LINKS</q-item-label>
                    <q-item-label class="text-bold text-green text-lowercase glow-verde">3</q-item-label>
                  </div>
                </q-btn>
                <q-btn @click="openLinks(click)" size="md" flat round class="bg-panel shadow-4 text-positive">
                  <span style="font-size: 1.8em;" class="">👆🏼</span>
                </q-btn>
              </q-card-actions>
            </div>
          </div>
          <br />
        </div>
        <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
          <q-btn fab icon="keyboard_arrow_up" color="primary" />
        </q-page-scroller>
      </div>
    </q-page>
  </div>
</template>
<style scoped>
</style>
