<script>
// import ccMyClients from './my-clients'
import { mapActions, mapGetters } from 'vuex'
import { firebaseAuth } from 'boot/firebase'
export default {
  name: 'ccLinks',
  components: {
    // ccMyClients
  },
  data () {
    return {
      createdLinks: '',
      clicks: [],
      links: [],
      queryAllClicks: [],
      photoURL: firebaseAuth.currentUser.photoURL
    }
  },
  async mounted () {
    await this.getLinks()
    if (!this.links.length) {
      await this.createLinks()
    }
  },
  computed: {
  },
  methods: {
    ...mapGetters(['currentUser']),
    ...mapActions(['getAll', 'setMessage', 'setFetching', 'getSubCollection', 'postCreateSubCollection']),
    async getLinks () {
      try {
        const id = this.currentUser().userId
        this.loading = true
        this.links = await this.getSubCollection({ collection: 'users', collectionId: id, subCollection: 'links' })
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    async createLinks () {
      this.setFetching({ fetching: true })
      const linkSave = {
        idUser: this.currentUser().userId,
        url1: '#01',
        url2: '#02',
        url3: '#03'
      }
      try {
        this.setFetching({ fetching: true })
        await this.postCreateSubCollection({
          collection: 'users',
          collectionId: this.currentUser().userId,
          subCollection: 'links',
          fields: linkSave
        })
        this.setMessage({ type: 'success', message: 'Salvo com sucesso' })
        this.getLinks()
      } catch (e) {
        console.log(e)
      } finally {
        this.setFetching({ fetching: false })
      }
    },
    generateClick () {
      const queryAllClicks = this.getAll('AllClicks')
      console.log(queryAllClicks)
    }
  }
}
</script>

<template>

  <div class="">
    <!--
    <q-header class="bg-white">
      <q-toolbar class="bg-white">
        <q-toolbar-title class="my-font-pop text-bold">
          <q-btn icon="fas fa-cog" flat class="text-primary" size="xs" @click="$router.push('/config')" >
             <q-badge v-if="!currentUser().loginPref || !currentUser().passPref" color="red-4" floating>!</q-badge>
          </q-btn>
        </q-toolbar-title>
        <q-btn flat round icon="fas fa-filter" size="xs" color="black" @click="showFilterDialog" />
      </q-toolbar>
    </q-header>
<cc-my-clients :items="search"/>
  -->
  <div>
    <div class="my-font-mont text-center">
      <div class="align-items-center row col-md-8 col-xs-11 q-px-lg text-weight-bolder text-white text-left" style="font-size:2em;">
        <div class="col-12">
          <span class="q-pr-sm" style="font-size:1.2em;">🚀</span>Links
        </div>
      </div>
      <div class="align-items-center row col-md-8 col-xs-11 q-px-lg text-weight-bolder text-white text-left" style="font-size:3vmax;">
        <div class="q-pt-sm">
          Escolha <span class=" glow-verde text-green">3</span> Links p/ Impulsionar
        </div>
        <img style="width: 1.8em;" class="q-ml-xl" src="~/assets/logo-spotify.svg">
        <img style="width: 2em;" class="q-ml-xl" src="~/assets/logo-youtube.svg">
        <img style="width: 2.3em;" class="q-ml-xl" src="~/assets/logo-tiktok.svg">
      </div>
      <q-list v-for="link in links" v-bind:key="link._id">
        <div class="row text-left">
          <div  class=" col-xs-12 col-md-12">
            <div class="q-pa-sm q-gutter-sm col">
              <div class="text-center">
                <span class="" style="font-size:14vh;">
                  <q-input class="q-mb-md" bg-color="" label-color="accent" outlined bottom-slots v-model="link.url1" color="green" label="INSERIR LINK">
                    <template v-slot:before>
                      <q-avatar class="bg-white">
                        <img :src="photoURL">
                      </q-avatar>
                    </template>

                    <template v-slot:append>
                      <q-btn round dense flat color="green" icon="fas fa-paste" />
                    </template>

                    <template v-slot:counter>
                      <div class="text-green text-bold">
                        <q-icon color="green" name="fas fa-check" /> Link Válido
                      </div>
                    </template>

                    <template v-slot:after>
                      <q-btn round dense flat color="green" icon="fas fa-check" />
                    </template>
                  </q-input>

                  <q-input class="q-mb-md" bg-color="" label-color="accent" outlined bottom-slots v-model="link.url2" color="green" label="INSERIR LINK">
                    <template v-slot:before>
                      <q-avatar class="bg-white">
                        <img :src="photoURL">
                      </q-avatar>
                    </template>

                    <template v-slot:append>
                      <q-btn round dense flat color="green" icon="fas fa-paste" />
                    </template>

                    <template v-slot:counter>
                      <div class="text-green text-bold">
                        <q-icon color="green" name="fas fa-check" /> Link Válido
                      </div>
                    </template>

                    <template v-slot:after>
                      <q-btn round dense flat color="green" icon="fas fa-check" />
                    </template>
                  </q-input>

                  <q-input class="q-mb-md" bg-color="" label-color="accent" outlined bottom-slots v-model="link.url3" color="green" label="INSERIR LINK">
                    <template v-slot:before>
                      <q-avatar class="bg-white">
                        <img :src="photoURL">
                      </q-avatar>
                    </template>

                    <template v-slot:append>
                      <q-btn round dense flat color="green" icon="fas fa-paste" />
                    </template>

                    <template v-slot:counter>
                      <div class="text-green text-bold">
                        <q-icon color="green" name="fas fa-check" /> Link Válido
                      </div>
                    </template>

                    <template v-slot:after>
                      <q-btn round dense flat color="green" icon="fas fa-check" />
                    </template>
                  </q-input>
                </span>
              </div>
            </div>
          </div>
        </div>
      </q-list>
      <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
        <q-btn fab icon="keyboard_arrow_up" color="primary" />
      </q-page-scroller>
    </div>
  </div>
  </div>
</template>
<style css>

.q-field--outlined .q-field__control:before {
    border: 2px solid #512da8 !important;
}

.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
    font-weight: 400;
    line-height: 28px;
    font-size: 1.5em;
    letter-spacing: 0.00937em;
    text-decoration: inherit;
    text-transform: inherit;
    border: none;
    border-radius: 0;
    background: none;
    color: white;
    outline: 0;
    padding: 6px 0;
}
</style>
