<script>
import { columns, visibleColumns } from '../table-services'
export default {
  name: 'ccUserServices',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    rowKey: {
      type: String,
      default: () => '_id'
    }
  },
  data: () => ({
    columns,
    visibleColumns
  }),
  methods: {
    add () {
      const idx = this.data.length
      this.$emit('add', idx)
    },
    remove (row) {
      let data = [...this.data]
      const pos = data.indexOf(row)
      data.splice(pos, 1)
      data = data.map((cur, index) => {
        cur.idx = index
        return cur
      })
      this.$emit('remove', data)
    }
  }
}
</script>

<template lang="html">
  <div class="q-pl-md">
    <span class="text-subtitle1">Serviços Prestados</span>
    <div v-for="service in data" :key="service.idx">
      <div class="row q-gutter-x-md">
       <q-input
         square
         class="col-xs-12 col-sm-12 col-md-4"
         v-model="service.activityId"
         :maxlength="20"
         stack-label
         label="Código">
       </q-input>
       <q-input
         square
         class="col-xs-12 col-sm-12 col-md-6"
         v-model="service.description"
         :maxlength="50"
         stack-label
         label="Descrição">
       </q-input>
       <div class="row items-center">
         <q-btn :disable=" data.length === 10" icon="add_circle" @click="add()" size="sm" class="q-mr-sm" color="primary" flat round></q-btn>
         <q-btn :disable=" data.length === 1" icon="close" @click="remove(service)" size="sm" color="red-5" flat round></q-btn>
       </div>
     </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
