<script>
import { columns, visibleColumns } from '../table'
import ccTableMain from '@components/table-main'
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  name: 'CcUsers',
  components: {
    ccTableMain
  },
  data: () => ({
    users: [],
    columns,
    visibleColumns,
    serverPagination: {
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 0
    },
    filter: '',
    loading: false
  }),
  mounted () {
    this.fetch()
  },
  methods: {
    ...mapActions(['getAll', 'setFetching', 'setMessage', 'updateCollection', 'sendUserNotification']),
    ...mapGetters(['currentUser']),
    fetch () {
      try {
        this.loading = true
        this.getAll('users').then(docs => {
          this.users = docs
        })
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    updateField (field, user) {
      this.dialogNfe = false
      if (isEmpty(user) || isEmpty(field)) return
      this.setFetching({ fetching: true })
      this.updateCollection({
        collection: 'users',
        collectionId: user.userId,
        fields: { ...field }
      }).then(async () => {
        this.setMessage({ type: 'success', message: 'Alterado com sucesso' })
        await this.fetch()
        if (field.status && field.status === 2) {
          this.$q.dialog({
            title: 'Envio de Notificatição',
            message: `<span class="text-subtitle1">Enviar uma notificação para o usuário <br> ${user.email || ''} ?</span>`,
            html: true,
            ok: {
              color: 'primary',
              label: 'SIM'
            },
            cancel: {
              color: 'red-9',
              label: 'NÃO'
            }
          }).onOk(async () => {
            await this.sendUserNotification({ userId: user.userId, typeMessage: 1 })
          }).onCancel(() => {
          }).onDismiss(() => {
          })
        }
      }).catch(e => console.log(e))
        .finally(() => this.setFetching({ fetching: false }))
    },
    goTo (id) {
      this.$router.push({ name: 'user-admin.edit', params: { id } })
    }
  }
}
</script>

<template>
  <div>
    <cc-table-main
    :data="users"
    :columns="columns"
    :visibleColumns="visibleColumns"
    :allowRemove="false"
    :allowAdd="false"
    :serverPagination="serverPagination"
    :loading="loading"
    @updateField="updateField"
    @goTo="goTo"
    @sync="fetch">
    </cc-table-main>
  </div>
</template>
<style scoped>
</style>
