<script>
import rules from '@mixins/validations'
import { mapGetters, mapActions } from 'vuex'
import { selectOptionsUFMethod } from '@support/options/uf-options'
import services from '@in-house-functions/services'
import ccUserServices from './user-services'
import { isEmpty } from 'lodash'
export default {
  name: 'ccUserForm',
  mixins: [rules.rules],
  components: {
    ccUserServices
  },
  data: () => ({
    serviceItems: [],
    serviceItem: {
      activityId: '',
      description: ''
    },
    step: 1,
    dialogUserService: false,
    userLoading: false,
    submitLoading: false,
    user: {
      userId: '',
      email: '',
      online: '',
      fullname: '',
      role: '',
      client: '',
      person: '',
      status: true,
      birthDate: '',
      phoneNumber1: '',
      phoneNumber2: '',
      createdAt: '',
      address: {
        street: '',
        neighborhood: '',
        city: '',
        state: '',
        zipCode: '',
        number: ''
      },
      services: [{
        idx: 0, activityId: '', description: ''
      }]
    },
    selectOptionsUFMethod
  }),
  mounted () {
    this.fetchById()
  },
  methods: {
    ...mapGetters(['isAdmin']),
    ...mapActions(['setMessage', 'setFetching', 'getById', 'updateById']),
    fetchById () {
      const id = this.$route.params.id
      if (!id) return
      this.setFetching({ fetching: true })
      this.getById({ collection: 'users', id }).then(user => {
        const {
          userId, email, online, fullname,
          role, client, person, status, birthDate,
          phoneNumber1, phoneNumber2, createdAt,
          address, services, emailAlt, loginPref,
          passPref
        } = user
        this.user.userId = userId
        this.user.email = email
        this.user.online = online
        this.user.fullname = fullname || ''
        this.user.emailAlt = emailAlt || ''
        this.user.loginPref = loginPref || ''
        this.user.passPref = passPref || ''
        this.user.role = role || ''
        this.user.client = client || ''
        this.user.person = person || ''
        this.user.status = status || ''
        this.user.birthDate = birthDate || ''
        this.user.phoneNumber1 = phoneNumber1 || ''
        this.user.phoneNumber2 = phoneNumber2 || ''
        this.user.createdAt = createdAt || ''
        this.user.address = address || this.user.address
        this.user.services = services || []
        this.serviceItems = this.user.services
      }).catch(e => console.log(e))
        .finally(() => this.setFetching({ fetching: false }))
    },
    async submit () {
      this.submitLoading = true
      this.user.services = this.user.services.filter(cur => !isEmpty(cur.activityId) && !isEmpty(cur.description))
      setTimeout(async () => {
        try {
          this.submitLoading = false
          const id = this.user.userId
          const fields = this.user
          await this.updateById({ collection: 'users', id, fields })
          this.setMessage({ type: 'success', message: 'Alterado com sucesso' })
          this.goToBack()
        } catch (e) {
          console.log(e)
          this.setMessage({ type: 'warning', message: 'Não foi possível salvar o usuário' })
        } finally {
        }
      }, 800)
    },
    goToBack () {
      this.$router.go(-1)
    },
    async getAddress (cep) {
      try {
        if (!cep || cep.length !== 8) return
        this.userLoading = true
        const address = await services.getCep(cep)
        if (address.erro) {
          this.setMessage({ type: 'warning', message: 'CEP não encontrado' })
          return
        }
        this.user.address.street = address.logradouro
        this.user.address.neighborhood = address.bairro
        this.user.address.city = address.localidade
        this.user.address.state = address.uf
      } catch (err) {
        console.log('erro', err)
      } finally {
        this.userLoading = false
      }
    },
    addService (idx) {
      this.user.services.push({ idx, activityId: '', description: '' })
    }
  },
  computed: {
    maskClient () {
      return this.user.person === 'F'
        ? { mask: '###.###.###-##', hint: 'CPF', person: 'Pessoa Física' }
        : { mask: '##.###.###/####-##', hint: 'CNPJ', person: 'Pessoa Jurídica' }
    }
  }
}
</script>

<template lang="html">
  <div class="row justify-center">
    <div class="q-ma-md col-md-8">
      <q-stepper
        v-model="step"
        ref="stepper"
        class="shadow-2"
        color="secondary"
        header-nav
        animated>
        <q-step
          :name="1"
          title="Perfil do Usuário"
          icon="fas fa-user"
          :done="step > 1"
          style="min-height: 200px;">
          <div class="q-gutter-md">
            <div class="row q-gutter-x-md">
              <q-radio size="30px" dense class="col-xs-12 col-sm-6 col-md-auto" val="admin" ref="role" :rules="isRequired" v-model="user.role" emit-value color="dark" label="Administrador" />
              <q-radio size="30px" dense class="col-xs-12 col-sm-6 col-md-auto" val="user" ref="role" :rules="isRequired" v-model="user.role" emit-value color="dark" label="Usuário" />
            </div>

            <div class="row q-gutter-x-md">
              <q-input readonly dense class="col-xs-12 col-sm-12 col-md-5" ref="email" :rules="isValidEmailFormat" color="indigo-8" v-model="user.email"
              label="E-mail" type="email" maxlength="40"></q-input>
              <q-input dense class="col-xs-12 col-sm-12 col-md-6" ref="fullname" :rules="isRequired" color="grey-8" v-model="user.fullname" label="Nome" maxlength="40" />
            </div>

            <div class="row q-gutter-x-md">
              <q-radio size="30px" dense class="col-xs-12 col-sm-12 col-md-auto" val="F" ref="person" :rules="isRequired" v-model="user.person" emit-value color="dark" label="Pessoa Física" />
              <q-radio size="30px" dense class="col-xs-12 col-sm-12 col-md-auto" val="J" ref="person" :rules="isRequired" v-model="user.person" emit-value color="dark" label="Pessoa Jurídica" />
            </div>

            <div class="row q-gutter-x-md">
              <q-input dense class="col-xs-12 col-sm-12 col-md-5" :hint="maskClient.person" unmasked-value color="indigo-8" :mask="maskClient.mask"
                :label="maskClient.hint" v-model="user.client" maxlength="18" />
              <q-input dense class="col-xs-12 col-sm-12 col-md-6" :hint="maskClient.person" unmasked-value color="indigo-8" :mask="maskClient.mask"
                :label="maskClient.hint" v-model="user.client" maxlength="18" />
            </div>

            <div class="row q-gutter-x-md">
              <q-input dense class="col-xs-12 col-sm-12 col-md-5" unmasked-value color="indigo-8" mask="(##) # ####-####" v-model="user.phoneNumber1"
                ref="phoneNumber1" label="Telefone 1" :rules="isRequired">
              </q-input>

              <q-input dense class="col-xs-12 col-sm-12 col-md-6" unmasked-value color="indigo-8" mask="(##) # ####-####" v-model="user.phoneNumber2"
                ref="phoneNumber2" label="Telefone 2" :rules="isRequired">
              </q-input>
            </div>
          </div>
          <cc-user-services
            :data="user.services"
            rowKey="activityId"
            @add="addService"
            @remove="data => this.user.services = data"/>
        </q-step>

        <q-step
          :name="2"
          title="Endereço"
          icon="fas fa-map"
          :done="step > 2"
          style="min-height: 200px;">
          <div class="q-gutter-md">
            <div class="row q-gutter-sm justify-center">
              <q-input dense class="col-xs-12 col-sm-3 col-md-3" color="indigo-8" @input="getAddress(user.address.zipCode, 'user')"
                mask="##.###-###" unmasked-value v-model="user.address.zipCode" :loading="userLoading" label="CEP" ref="zipCode">
              </q-input>
              <q-input dense class="col-xs-12 col-sm-3 col-md-7" color="indigo-8" v-model="user.address.city" label="Cidade"
                ref="city" maxlength="40">
              </q-input>
              <q-select dense class="col-xs-12 col-sm-1" color="indigo-8" v-model="user.address.state" label="UF" :options="selectOptionsUFMethod" ref="state">
              </q-select>
            </div>

            <div class="row q-gutter-sm justify-center">
              <q-input dense class="col-xs-12 col-sm-3" color="indigo-8" v-model="user.address.street" label="Rua"
                ref="street" maxlength="40">
              </q-input>
              <q-input dense color="indigo-8" v-model="user.address.neighborhood" label="Bairro" ref="neighborhood"
                class="col-xs-12 col-sm-7" maxlength="40">
              </q-input>
              <q-input dense class="col-xs-12 col-sm-1" color="indigo-8" v-model="user.address.number"
                label="N.º" ref="number" maxlength="5">
              </q-input>
            </div>
          </div>
        </q-step>

        <template v-slot:navigation>
          <q-stepper-navigation class="text-right">
            <q-btn label="cancelar" size="0.8em" flat color="red-4" icon="fas fa-times" class="q-mr-sm" @click="goToBack"/>
            <q-btn @click="submit" size="0.8em" :loading="submitLoading" icon="check" color="primary" class="q-mr-sm" label="Salvar" />
          </q-stepper-navigation>
        </template>

        <template v-slot:message>
          <q-banner v-if="step === 1" class="bg-primary text-white q-px-lg">
            Dados do perfil do usuário
          </q-banner>
          <q-banner v-else-if="step === 2" class="bg-primary text-white q-px-lg">
            Dados do Endereço do usuário
          </q-banner>
        </template>
      </q-stepper>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
